body.conference {
  max-height: 350px;
  background-color: white;
  background-image: image-url('waves-10.svg');
  color: $green;

  nav.main {
    box-shadow: 0 1px 0 rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.25), inset 0 -1px 0 rgba(255,255,255,.3);

    .container {
      .navbar-header {
        button {
          width: 48px;
          height: 48px;
          border: 2px solid $green;
          border-radius: 0px;
          .icon-bar {
            background-color: $green;
          }
        }
        .navbar-brand {
          .icon {
            background-position: -64px -80px;
          }
          .text {
            background-position: 0 -160px;
          }
        }
      }

      .navbar-collapse {
        .conference .icon {
          background-position: -70px -400px;
        }
        .location .icon {
          background-position: -70px -470px;
        }
        .sponsors .icon {
          background-position: -70px -540px;
        }
        a {
          color: $green;

          &:hover {
            color: $green;
          }
        }
      }
    }
  }

  header {
    background-color: $green;
    background-image: image-url('conference/sea.svg');
    background-position: bottom center;
    background-repeat: no-repeat;

    h1 {
      .icon {
        background-position: 0 -620px;
      }
    }
  }

  section.speakers {
    padding: 20px 0 40px;
    background-image: linear-gradient(to bottom, white, rgba(255,255,255,0) 300px);

    h2 {
      margin: 16px 0;
      color: $green;
      text-align: center;
      text-transform: uppercase;
      font-size: 36px;

      &:before {
        position: relative;
        top: -3px;
        display: inline-block;
        width: 44px;
        height: 44px;
        background-image: image-url('graphics.svg');
        background-position: -250px -615px;
        content: '';
        vertical-align: middle;
      }
    }

    .speaker {
      @extend .clearfix;
      margin-bottom: .5em;
      padding: 0.5em 0;

      .photo {
        float: left;
        margin-right: .75em;
        width: 100px;
        height: 100px;
        border: 2px solid white;
        border-radius: 50px;
        box-shadow: 0px 0px 8px rgba(0,0,0,.75);
      }

      .desc {
        margin-top: .75em;
        line-height: 1.2;

        .name {
          display: inline-block;
          font-weight: 600;
        }

        .title {
          font-weight: 300;
          font-size: 13px;
          line-height: 1.2;
        }
      }
    }
  }

  @media (max-width: 767px) {
    nav.main {
      .navbar-collapse {
        border-top: 2px solid $green;
        ul {
          li {
            &:last-child {
              border-top: 2px solid $green;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    section.speakers {
      .speaker {
        text-align: center;

        .photo {
          float: none;
          width: 150px;
          height: 150px;
          border-radius: 75px;
        }

        .desc {
          margin: 1em auto;

          .name {
            padding-bottom: 2px;
            font-size: 20px;
          }

          .title {
            font-size: 14px;
          }
        }

        &.jim .desc {
          width: 160px;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $green;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    section.speakers {
      h2 {
        margin-bottom: .5em;
      }

      .speaker {
        .photo {
          width: 200px;
          height: 200px;
          border-radius: 100px;
        }

        .desc {
          line-height: 1.5;

          .name {
            padding-bottom: 0;
            font-size: 24px;
          }

          .title {
            font-size: 16px;
          }
        }
        &.jim .desc {
          width: 200px;
        }

        &.nell .desc {
          width: 280px;
        }

        &.rafael .desc {
          width: 260px;
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $green;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    header {
      background-size: cover;
    }
  }

}
