body.conference, body.en_conference, body.pt_conference {
  max-height: 350px;
  background-color: $green;
  background-image: image-url('waves.svg');
  color: white;
  -webkit-font-smoothing: subpixel-antialiased;

  strong {
    font-weight: 600;
  }
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top-width: 2px;
  }

  nav.main {
    box-shadow: 0 1px 0 rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.25), inset 0 -1px 0 rgba(255,255,255,.3);
    .container {
      .navbar-header {
        button {
          width: 48px;
          height: 48px;
          border: 2px solid $green;
          border-radius: 0px;
          .icon-bar {
            background-color: $green;
          }
        }
        .navbar-brand {
          .icon {
            background-position: -64px -80px;
          }
          .text {
            background-position: 0 -160px;
          }
        }
      }
      .navbar-collapse {
        .conference .icon {
          background-position: -70px -400px;
        }
        .location .icon {
          background-position: -70px -470px;
        }
        .sponsors .icon {
          background-position: -70px -540px;
        }
        a {
          color: $green;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }

  header {
    background-image: linear-gradient(to bottom, rgba(1,121,145,1) 0%, rgba(52,155,138,0) 50%), linear-gradient(to bottom, rgba(1,121,145,0) 50%, rgba(1,121,145,1) 100%);
    background-position: top center;
    background-repeat: no-repeat;
    .content-background {
      height: 350px;
      background-image: image-url('conference/ocean-highlight-2.svg');
      background-position: top center;
      background-repeat: no-repeat;
    }
    h1 {
      .icon {
        background-image: image-url('icon-header-conference@2x.png');
        background-size: 128px;
      }
    }
    nav.secondary {
      ul {
        li {
          a {
            .icon {
              overflow: visible;
              &:after {
                position: absolute;
                top: 37px;
                left: 27px;
                width: 2px;
                height: 10px;
                background-color: rgba(255,255,255,.5);
                content: '';
              }
            }
            .icon-workshops {
              background-position: -96px -609px;
            }
            .icon-activities {
             background-position: -160px -609px;
            }
            .icon-talks {
              margin-top: -1px;
              height: 34px;
              background-position: -32px -609px;
            }
            .day {
              display: inline-block;
              margin-right: 5px;
              padding: 4px 3px 3px 3px;
              width: auto;
              height: 26px;
              color: $gray3;
              line-height: 13px;
              span {
                padding: 0 2px;
                font-weight: 200;
                font-size: 11px;
              }
            }
            &:before {
              position: absolute;
              top: 46px;
              left: 25px;
              display: block;
              width: 62px;
              height: 2px;
              background-color: rgba(255,255,255,.5);
              content: '';
            }
          }
          &:first-child:before {
            position: absolute;
            top: 46px;
            left: -50px;
            display: block;
            width: 75px;
            height: 2px;
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 100%);
            content: '';
          }
          &:last-child:before {
            position: absolute;
            top: 46px;
            left: 25px;
            display: block;
            width: 69px;
            height: 2px;
            background: linear-gradient(to right, rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 100%);
            content: '';
          }
          &:last-child {
            a {
              &:before {
                display: none;
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }

  h3 {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    .talk-subtitle {
      font-weight: 400;
    }
  }

  .date-venue-tickets {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    h3 {
      &.date, &.venue {
        display: inline;
        text-align: center;
        margin-top: 0;
        text-transform: none;
        font-weight: 300;
        font-size: 17px;
        line-height: 30px;
        white-space: nowrap;
        sup {
          text-transform: none;
        }
      }
    }
    a {
      display: block;
      margin: 3px auto 0 auto;
      width: 150px;
      height: 24px;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 24px;
    }
    .icon {
      display: inline-block;
      margin-right: 8px;
      width: 16px;
      height: 24px;
      background-image: image-url('graphics.svg');
    }
    .icon-calendar {
      vertical-align: bottom;
    }
    .icon-location {
      margin-right: 6px;
      margin-left: 20px;
      vertical-align: bottom;
    }
    .icon-ticket {
      margin-right: 4px;
      vertical-align: bottom;
    }
  }

  .speaker {
    @extend .clearfix;
    margin-bottom: 40px;
    color: $gray;
    .photo {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 200px;
      height: 200px;
      border: 2px solid white;
      border-radius: 100px;
      box-shadow: 0px 0px 8px rgba(0,0,0,.75);
    }
    .desc {
      text-align: center;
      line-height: 20px;
      .name {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 2px;
        font-weight: 400;
      }
      .title {
        font-weight: 200;
        font-size: 16px;
      }
    }
  }

  section.talks {
    padding: 20px 0 40px;
    background-color: white;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 25%), linear-gradient(to bottom, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%), image-url('waves-10.svg');
    color: $green;
    h2 {
      margin: 16px 0 8px 0;
      text-align: center;
      font-size: 36px;
      &:before {
        position: relative;
        top: -3px;
        display: inline-block;
        margin-right: 10px;
        width: 32px;
        height: 32px;
        background-image: image-url('graphics.svg');
        background-position: 0px -609px;
        content: '';
        vertical-align: middle;
      }
    }
    h3 {
      color: $green;
    }
    .date-venue-tickets {
      h3 {
        &.date, &.venue {
          color: $gray;
        }
      }
      a {
        color: $gray;
        &:hover {
          background-color: rgba(128,128,128,.2);
        }
      }
      .icon-calendar {
        background-position: -150px -17px;
      }
      .icon-location {
        background-position: -210px -17px;
      }
      .icon-ticket {
        background-position: -269px -17px;
      }
    }
    .remarks {
      font-weight: 300;
      ul {
        color: $gray;
      }
    }
  }

  section.workshops-and-activities {
    padding-top: 30px;
    background-image: linear-gradient(to bottom, rgba(1,121,145,1) 0%, rgba(52,155,138,0) 50%), linear-gradient(to bottom, rgba(1,121,145,0) 50%, rgba(1,121,145,1) 100%);
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    h2 {
      margin: 16px 0 8px 0;
      text-align: center;
      font-size: 36px;
      &:before {
        position: relative;
        top: -3px;
        display: inline-block;
        margin-right: 10px;
        width: 32px;
        height: 33px;
        background-image: image-url('graphics.svg');
        background-position: -160px -609px;
        content: '';
        vertical-align: middle;
      }
      &.workshops {
        &:before {
          background-image: image-url('graphics.svg');
          background-position: -96px -609px;
        }
      }
    }
    h3 {
      color: white;
    }
    p {
      text-align: center;
    }
    .date-venue-tickets {
      h3 {
        &.date, &.venue {
          color: white;
        }
      }
      a {
        color: white;
        &:hover {
          background-color: rgba(255,255,255,.3);
        }
      }
      .icon-calendar {
        background-position: -180px -17px;
      }
      .icon-location {
        background-position: -240px -17px;
      }
      .icon-ticket {
        background-position: -300px -17px;
      }
    }
    .activities {
      margin-bottom: 20px;
      &+p {
        margin-bottom: 20px;
      }
    }
    .friday, .sunday {
      margin-top: -2px;
      margin-bottom: 20px;
      text-align: center;
      text-transform: none;
      font-weight: 200;
      line-height: 24px;
      ul {
        padding-left: 0;
        list-style: none;
        .activity {
          display: inline-block;
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 15px;
          padding: 15px 0 0 0;
          width: 130px;
          height: 130px;
          border: 2px solid white;
          line-height: 16px;
        }
      }
      .date-venue-tickets {
        margin-bottom: 4px;
      }
    }
    ul {
      @extend .list-unstyled;
      padding-bottom: .5em;
      .icon {
        display: block;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        width: 64px;
        height: 64px;
        background-image: image-url('graphics.svg');
        vertical-align: middle;
        &.icon-buggy {
          background-position: -44px -836px;
        }
        &.icon-catamaran {
          width: 88px;
          background-position: -236px -836px;
        }
        &.icon-sailing {
          background-position: -108px -836px;
        }
        &.icon-snorkeling {
          background-position: -172px -836px;
        }
      }
    }
    .speaker {
      margin-bottom: 32px;
      color: white;
      .two-men-army {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 250px;
        .two-photos {
          display: block;
        }
        .last {
          margin-top: -40px;
        }
      }
      .desc {
        .tag-period {
          position: relative;
          margin: 0;
          padding: 1px 5px 1px 5px;
          height: 20px;
          border: 2px solid $gray2;
          background-color: transparent;
          color: $gray2;
          text-transform: uppercase;
          text-shadow: none;
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }

  .remarks {
    text-transform: none;
    ul {
      @extend .list-unstyled;
      color: white;
      text-align: center;
      font-size: 13px;
      line-height: 16px;
      li {
        display: inline;
        &:before {
          padding: 0 1em;
          color: $gray2;
          content: '♦';
          font-size: 8px;
        }
        &:first-child:before {
          content: none;
        }
      }
    }
  }

  .attribution {
    p, a {
      color: $gray2;
    }
  }

  @media (min-width: 440px) {
    section.workshops-and-activities {
      .speaker {
        .two-men-army {
          width: 370px;
          .two-photos {
            display: inline-block;
          }
          .last {
            margin-top: 0;
            margin-left: -40px;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    nav.main {
      .navbar-collapse {
        border-top: 2px solid $green;
        ul {
          li {
            &:last-child {
              border-top: 2px solid $green;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    header {
      nav.secondary {
        ul {
          li {
            a {
              .icon {
                &:after {
                  left: 60px;
                }
              }
              .icon-talks {
                &:before {
                  left: 38px;
                }
              }
              &:before {
                left: 65px;
                width: 124px;
              }
            }
            &:first-child:before {
              left: -55px;
              width: 120px;
            }
            &:last-child:before {
              left: 65px;
              width: 120px;
            }
          }
        }
      }
    }
    section.talks {
      .speaker {
        height: 340px;
        text-align: center;
        .photo {
          float: none;
        }
        .desc {
          margin: 1em auto;
          .name {
            padding-bottom: 2px;
          }
          .title {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $green;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    section.talks {
      .speaker {
        .photo {
          width: 200px;
          height: 200px;
          border-radius: 100px;
        }
        .name {
          padding-bottom: 0;
        }
        .title {
          font-size: 16px;
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $green;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    header {
      background-size: cover;
    }
  }
}
