body.conference, body.en_conference, body.pt_conference {
  max-height: 350px;
  background-color: $green;
  background-image: image-url('waves.svg');
  color: white;
  -webkit-font-smoothing: subpixel-antialiased;

  strong {
    font-weight: 600;
  }
  hr {
    border-top-width: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  nav.main {
    box-shadow: 0 1px 0 rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.25), inset 0 -1px 0 rgba(255,255,255,.3);
    .container {
      .navbar-header {
        button {
          width: 48px;
          height: 48px;
          border: 2px solid $green;
          border-radius: 0px;
          .icon-bar {
            background-color: $green;
          }
        }
        .navbar-brand {
          .icon {
            background-position: -64px -80px;
          }
          .text {
            background-position: 0 -160px;
          }
        }
      }
      .navbar-collapse {
        .conference .icon {
          background-position: -70px -400px;
        }
        .location .icon {
          background-position: -70px -470px;
        }
        .sponsors .icon {
          background-position: -70px -540px;
        }
        a {
          color: $green;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }

  header {
    background-image: linear-gradient(to bottom, rgba(1,121,145,1) 0%, rgba(52,155,138,0) 50%), linear-gradient(to bottom, rgba(1,121,145,0) 50%, rgba(1,121,145,1) 100%);
    background-position: top center;
    background-repeat: no-repeat;
    .content-background {
      height: 350px;
      background-image: image-url('conference/ocean-highlight-2.svg');
      background-position: top center;
      background-repeat: no-repeat;
    }
    h1 {
      .icon {
        background-image: image-url('icon-header-conference@2x.png');
        background-size: 128px;
      }
    }
  }

  h3 {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    .talk-subtitle {
      font-weight: 400;
    }
    &.date {
      margin-top: 0;
      margin-bottom: 40px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 20px;
      sup {
        text-transform: none;
      }
    }
  }
  .speaker {
    @extend .clearfix;
    margin-bottom: 40px;
    color: $gray;
    .photo {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 200px;
      height: 200px;
      border: 2px solid white;
      border-radius: 100px;
      box-shadow: 0px 0px 8px rgba(0,0,0,.75);
    }
    .desc {
      text-align: center;
      line-height: 20px;
      .name {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 2px;
        font-weight: 400;
      }
      .title {
        font-weight: 200;
        font-size: 16px;
      }
    }
  }

  section.speakers {
    padding: 20px 0 40px;
    background-color: white;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 25%), linear-gradient(to bottom, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%), image-url('waves-10.svg');
    color: $green;
    h2 {
      margin: 16px 0 8px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 36px;
      &:before {
        position: relative;
        top: -3px;
        display: inline-block;
        margin-right: 10px;
        width: 32px;
        height: 32px;
        background-image: image-url('graphics.svg');
        background-position: 0px -620px;
        content: '';
        vertical-align: middle;
      }
    }
    h3 {
      color: $green;
    }
    .remarks {
      font-weight: 300;
      ul {
        color: $gray;
      }
    }
  }

  section.activities-all {
    padding-top: 30px;
    background-image: linear-gradient(to bottom, rgba(1,121,145,1) 0%, rgba(52,155,138,0) 50%), linear-gradient(to bottom, rgba(1,121,145,0) 50%, rgba(1,121,145,1) 100%);
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    h2 {
      margin: 16px 0 8px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 36px;
      &:before {
        position: relative;
        top: -3px;
        display: inline-block;
        margin-right: 10px;
        width: 32px;
        height: 33px;
        background-image: image-url('graphics.svg');
        background-position: 0px -684px;
        content: '';
        vertical-align: middle;
      }
      &.activities-work {
        &:before {
          background-image: image-url('graphics.svg');
          background-position: 0px -717px;
        }
      }
    }
    h3 {
      color: white;
    }
    .activities-fun {
      margin-bottom: 20px;
      &+p {
        margin-bottom: 20px;
      }
    }
    p {
      text-align: center;
    }
    .friday, .sunday {
      margin-top: -2px;
      margin-bottom: 20px;
      text-align: center;
      text-transform: none;
      font-weight: 200;
      line-height: 24px;
      h3 {
        &.date {
          margin-bottom: 16px;
        }
      }
      ul {
        padding-left: 0;
        list-style: none;
        .activity {
          line-height: 16px;
          display: inline-block;
          margin-top: 10px;
          margin-left: 15px;
          margin-bottom: 10px;
          padding: 15px 0 0 0;
          width: 130px;
          height: 130px;
          border: 2px solid white;
        }
      }
    }
    ul {
      @extend .list-unstyled;
      padding-bottom: .5em;
      .icon {
        display: block;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        width: 64px;
        height: 64px;
        background-image: image-url('graphics.svg');
        vertical-align: middle;
        &.icon-buggy {
          background-position: -32px -684px;
        }
        &.icon-catamaran {
          width: 88px;
          background-position: -230px -684px;
        }
        &.icon-sailing {
          background-position: -96px -684px;
        }
        &.icon-snorkeling {
          background-position: -160px -684px;
        }
      }
    }
    .speaker {
      color: white;
      margin-bottom: 32px;
      .two-men-army {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 250px;
        .two-photos {
          display: block;
        }
        .last {
          margin-top: -40px;
        }
      }
      .desc {
        .tag-period {
          position: relative;
          margin: 0;
          padding: 1px 5px 1px 5px;
          height: 20px;
          border: 2px solid $gray2;
          background-color: transparent;
          color: $gray2;
          text-shadow: none;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }

  .remarks {
    text-transform: none;
    ul {
      @extend .list-unstyled;
      color: white;
      text-align: center;
      font-size: 13px;
      line-height: 16px;
      li {
        display: inline;
        &:before {
          padding: 0 1em;
          color: $gray2;
          content: '♦';
          font-size: 8px;
        }
        &:first-child:before {
          content: none;
        }
      }
    }
  }

  .attribution {
    p, a {
      color: $gray2;
    }
  }

  @media (min-width: 440px) {
    section.activities-all {
      .speaker {
        .two-men-army {
          width: 370px;
          .two-photos {
            display: inline-block;
          }
          .last {
            margin-top: 0;
            margin-left: -40px;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    nav.main {
      .navbar-collapse {
        border-top: 2px solid $green;
        ul {
          li {
            &:last-child {
              border-top: 2px solid $green;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    section.speakers {
      .speaker {
        height: 340px;
        text-align: center;
        .photo {
          float: none;
        }
        .desc {
          margin: 1em auto;
          .name {
            padding-bottom: 2px;
          }
          .title {
            font-size: 16px;
          }
        }
      }
      .michel {
        height: 300px;
      }
    }
    .cloves-tim {
      margin-bottom: 32px
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $green;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    section.speakers {
      .speaker {
        .photo {
          width: 200px;
          height: 200px;
          border-radius: 100px;
        }
        .name {
          padding-bottom: 0;
        }
        .title {
          font-size: 16px;
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $green;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    header {
      background-size: cover;
    }
  }
}
