body.index, body.en_index, body.pt_index {
  background-color: $green;
  background-image: image-url('waves.svg');
  font-weight: 200;
  -webkit-font-smoothing: subpixel-antialiased;

  h3 {
    margin-top: 0;
  }
  h3, h4, p, a {
    color: white;
    text-shadow: 0px 1px 0px black;
    &.btn {
      color: $green;
    }
  }
  h3, h4 {
    font-weight: 300;
  }
  p {
    font-weight: 300;
  }
  a {
    font-weight: 400;
    &:hover {
      color: $gray3;
    }
  }
  ul {
    padding: 0;
    list-style: none;
  }
  footer {
    h4 {
      font-size: 11px;
    }
  }

  nav.main {
    .container {
      .navbar-header {
        button {
          width: 48px;
          height: 48px;
          border: 2px solid $red;
          border-radius: 0px;
          .icon-bar {
            background-color: $red;
          }
        }
        .navbar-brand {
          .icon {
            background-position: 0 -80px;
          }
          .text {
            display: none;
          }
        }
      }
      .navbar-collapse {
        border-top-color: $red;
        ul {
          li {
            &:last-child {
              border-top-color: $red;
            }
          }
        }
        .conference .icon {
          background-position: 0 -400px;
        }
        .location .icon {
          background-position: 0 -470px;
        }
        .sponsors .icon {
          background-position: 0 -540px;
        }
        a {
          color: $red;
          &:hover {
            color: $red;
          }
        }
      }
    }
  }

  header.horizon {
    z-index: 500;
    width: 100%;
    background-color: $orange;
    background-image: image-url('index/horizon.svg');
    background-position: center;
    background-size: 1024px;
    background-repeat: no-repeat;
    h1 {
      position: relative;
      left: 50%;
      z-index: 600;
      overflow: hidden;
      margin: 235px 0 0 -146px;
      padding: 0;
      width: 292px;
      height: 118px;
      background-image: image-url('index/graphics.svg');
      background-position: -3px 0px;
      background-repeat: no-repeat;
      font-size: 0;
      line-height: 0;
    }
    h2 {
      position: relative;
      left: 50%;
      overflow: hidden;
      margin: -5px 0 0 -146px;
      width: 292px;
      height: 121px;
      background-image: image-url('index/graphics.svg');
      background-repeat: no-repeat;
      font-size: 0;
      line-height: 0;
      &.en {
        background-position: -4px -120px;
      }
      &.pt {
        background-position: -4px -242px;
      }
    }
    .rip-jim {
      position: absolute;
      top: 200px;
      left: 50%;
      display: inline-block;
      margin-left: -125px;
      width: 250px;
      color: $red;
      text-align: center;
      text-shadow: none;
      font-weight: 300;
      font-size: 13px;
      a {
        color: $red;
        text-shadow: none;
        &:hover {
          letter-spacing: 2;
          font-weight: 600;
        }
      }
    }
  }

  section.ocean {
    z-index: 400;
    padding-bottom: 70px;
    background-image: image-url('index/ocean-highlight.svg'), linear-gradient(to bottom, rgba(1,121,145,1) 0%, rgba(52,155,138,0) 50%), linear-gradient(to bottom, rgba(1,121,145,0) 50%, rgba(1,121,145,1) 100%);
    background-position: center top, center top, center top;
    background-size: 400%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }

  .cfs, .tickets {
    z-index: 2000;
    text-align: center;
    a {
      position: relative;
      display: block;
      margin-top: 163px;
      width: 125px;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 20px;
      .icon {
        display: block;
        margin: 0 auto 10px auto;
        width: 64px;
        height: 65px;
        background-image: image-url('graphics.svg');
      }
      .icon-tickets {
        background-position: 0 -688px;
      }
      .icon-sponsor {
        background-position: -70px -688px;
      }
      &:hover, &:active {
        @include white-radial-gradient(0%,.25,75%,0);
      }
    }
  }
  .cfs {
     a {
      margin-right: auto;
      margin-left: 0;
     }
  }
  .tickets {
    a {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .porto {
    margin-top: 48px;
    padding: 0;
    text-align: center;
    p {
      position: relative;
      display: inline-block;
      overflow: hidden;
      width: 292px;
      height: 221px;
      background-image: image-url('index/graphics.svg');
      background-position: 0 -372px;
      background-repeat: no-repeat;
      font-size: 0;
      line-height: 0;
    }
  }

  .description {
    margin-top: 40px;
    text-align: center;
    ul {
      text-align: center;
    }
    li {
      display: inline-block;
      &:before {
        position: relative;
        top: 1px;
        padding: 0 .5em;
        color: $gray2;
        content: '♦';
        font-size: 9px;
      }
      &:first-child:before {
        content: none;
      }
    }
  }

  .stay-tuned {
    margin-top: 48px;
    form {
      button {
        &.btn {
          margin-left: -2px;
          padding: 16px 14px 16px 14px;
          height: 48px;
          line-height: 12px;
        }
        span {
          display: inline-block;
          overflow: hidden;
          width: 16px;
          height: 12px;
          background-image: image-url('graphics.svg');
          background-position: 0px 0px;
          vertical-align: middle;
          font-size: 0;
          line-height: 0;
        }
      }
    }
    ul {
      margin-top: 12px;
      padding: 0;
      text-align: center;
      li {
        margin-top: 6px;
        a {
          text-decoration: underline;
          text-shadow: 0px 1px 0px black;
          line-height: 30px;
          span {
            display: inline-block;
            float: left;
            margin: 10px 3px 0px 0px;
            width: 16px;
            background-image: image-url('graphics.svg');
            background-repeat: no-repeat;
            &.twitter {
              height: 14px;
              background-position: -60px 0px;
            }
            &.facebook {
              height: 16px;
              background-position: -30px 0px;
            }
            &.lanyrd {
              margin-left: -20px;
              height: 16px;
              background-position: -270px 0px;
            }
            &.github {
              margin-left: -20px;
              height: 17px;
              background-position: -300px 0px;
            }
          }
        }
      }
    }
  }

  section.overall {
    z-index: 500;
    padding-top: 60px;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom right, $yellow 0%, $orange 100%);
    h3 {
      text-align: center;
      color: $red;
      text-shadow: none;
    }
    ul, li {
      padding: 0;
    }
    .photo {
      display: block;
      margin: 30px auto 0;
      height: auto;
      width: 128px;
      text-align: center;
      text-decoration: none;
      text-shadow: none;
      line-height: 16px;
      color: $red;
      &:hover, &:active {
        @include white-radial-gradient(0%,1,75%,0);
      }
      img {
        border: 2px solid white;
        border-radius: 64px;
        box-shadow: 0px 0px 8px rgba(0,0,0,.75);
        width: 128px;
        height: 128px;
        margin: 10px auto 10px auto;
      }
      p {
        color: $red;
        text-shadow: none;
        font-weight: 600;
        margin-bottom: 2px;
      }
      small {
        font-size: 13px;
        font-weight: 300;
      }
    }
    .icon {
      display: block;
      margin: 30px auto;
      padding: 20px 20px;
      width: 128px;
      height: 128px;
      background-image: image-url('graphics.svg');
      color: $red;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: none;
      font-weight: 600;
      z-index: 500;
      &:hover, &:active {
        &:before {
          @include white-radial-gradient(0%,.3,75%,0);
          display: block;
          position: absolute;
          content: '';
          margin-top: -20px;
          margin-left: -20px;
          width: 128px;
          height: 128px;
          z-index: 1;
        }
      }
      span {
        display: block;
        letter-spacing: -5px;
        font-weight: 400;
        font-size: 64px;
        line-height: 64px;
      }
    }
    .talks {
      background-position: 0 -830px;
    }
    .workshops {
      background-position: -216px -830px;
    }
    .activities {
      background-position: 0 -958px;
    }
    .features {
      margin-top: 30px;
    }
  }

  .sponsors-footer, .organizers-footer, .advisory-supporter {
    text-align: center;
  }

  .sponsor {
    display: inline-block;
    padding: 10px 0 0 0;
    text-align: center;
    a {
      display: inline-block;
      overflow: hidden;
      background-image: image-url('index/brands.svg');
      background-repeat: no-repeat;
      vertical-align: middle;
      font-size: 0px;
      // &:hover, &:active {
      // }
    }
  }

  .sponsors-footer {
    &:before {
      display: block;
      content: '';
      width: 100%;
      height: 2px;
      margin: 36px auto;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 20%, rgba(255,255,255,.4) 80%, rgba(255,255,255,0) 100%);
    }
    h4 {
      display: inline-block;
      margin-top: 36px;
      color: $red;
      text-shadow: none;
      &:first-child {
        margin-top: 0;
      }
    }
    .tempest {
      margin-bottom: 10px;
      a {
        width: 244px;
        height: 99px;
        background-position: 0px -400px;
        &:hover, &:active {
          &:before {
            margin-top: 10px;
          }
        }
      }
    }
    .la {
      margin-top: 16px;
      margin-bottom: 16px;
      a {
        width: 132px;
        height: 65px;
        background-position: 0px -130px;
      }
    }
    .livingsocial {
      margin-top: 16px;
      margin-bottom: 16px;
      a {
        width: 132px;
        height: 65px;
        background-position: 0px -200px;
      }
    }
    .sendgrid {
      margin-top: 16px;
      margin-bottom: 16px;
      a {
        width: 132px;
        height: 65px;
        background-position: 0px -250px;
      }
    }
  }

  .organizers-footer {
    margin-top: 26px;
    h4 {
      color: $red;
      text-shadow: none;
    }
    .for {
      margin-top: 16px;
      margin-bottom: 16px;
      padding-top: 10px;
      a {
        width: 132px;
        height: 45px;
        background-image: image-url('index/brands.svg');
        background-position: 0px 0px;
      }
    }
    .guava {
      margin-top: 16px;
      margin-bottom: 16px;
      padding-top: 25px;
      a {
        width: 99px;
        height: 28px;
        background-image: image-url('index/brands.svg');
        background-position: 0px -50px;
      }
    }
    .eventick {
      margin-top: 16px;
      margin-bottom: 16px;
      padding-top: 10px;
      a {
        width: 118px;
        height: 42px;
        background-image: image-url('index/brands.svg');
        background-position: 0px -80px;
      }
    }
  }

  .attribution {
    div {
      &:first-child {
        &:before {
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          margin: 36px auto;
          background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 20%, rgba(255,255,255,.4) 80%, rgba(255,255,255,0) 100%);
        }
      }
    }
    p, a {
      color: $red;
      text-shadow: none;
      font-weight: 300;
    }
  }

  @media (min-width: 320px) and (max-width: 365px) {
    h1, h2 {
      -webkit-transform: scale(0.8904);
      -moz-transform: scale(0.8904);
      -ms-transform: scale(0.8904);
      -o-transform: scale(0.8904);
      transform: scale(0.8904);
    }
    h1 {
      -webkit-transform-origin: bottom center;
      transform-origin: bottom center;
    }
    h2 {
      -webkit-transform-origin: top center;
      transform-origin: top center;
    }
    .porto {
       p {
        margin-bottom: -1em;
        -webkit-transform: scale(0.8904);
        -moz-transform: scale(0.8904);
        -ms-transform: scale(0.8904);
        -o-transform: scale(0.8904);
        transform: scale(0.8904);
        -webkit-transform-origin: top center;
        transform-origin: top center;
       }
    }
  }

  @media (max-width: 767px) {
    .stay-tuned {
      text-align: center;
      ul {
        text-align: center;
        li {
          a {
            span {
              display: block;
              float: none;
              margin-top: 14px;
              margin-bottom: -4px;
              &.twitter, &.facebook, &.lanyrd, &.github {
                margin-right: auto;
                margin-left: auto;
              }
            }
          }
        }
      }
    }
    .organizers-footer {
      .guava {
        padding-top: 35px;
      }
      .eventick {
        padding-top: 20px;
      }
    }
    .producer-footer {
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    section.ocean {
      background-image: image-url('index/ocean-highlight.svg'), linear-gradient(to bottom, rgba(1,121,145,1) 0%, rgba(52,155,138,0) 50%), linear-gradient(to bottom, rgba(1,121,145,0) 50%, rgba(1,121,145,1) 100%);
      background-size: 200%, 100%, 100%;
      .porto {
        margin-top: -125px;
      }
      .description {
        text-align: right;
        ul {
          text-align: right;
        }
      }
      .stay-tuned {
        ul {
          text-align: left;
        }
      }
    }
    section.overall {
      .features {
        margin-top: 0;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $red;
              }
            }
          }
        }
      }
    }
    .stay-tuned, .description, .sponsors-footer {
      margin-top: 36px;
    }
    .organizers-footer {
      .for {
        a {
          text-align: right;
        }
      }
      .eventick {
        a {
          text-align: left;
        }
      }
    }
    section.overall {
      .speakers {
        ul {
          li {
            a {
              margin-bottom: 20px;
            }
            &:last-child {
              a {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    section.ocean {
      background-image: image-url('index/ocean-highlight.svg'), linear-gradient(to bottom, rgba(1,121,145,1) 0%, rgba(52,155,138,0) 50%), linear-gradient(to bottom, rgba(1,121,145,0) 50%, rgba(1,121,145,1) 100%);
      background-size: 100%, 100%, 100%;
      .cfs, .tickets {
        margin-top: -135px;
      }
      .porto {
        margin-top: 40px;
      }
    }
    section.overall {
      .speakers {
        h3 {
          margin-bottom: 0;
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $red;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    nav.main .text {
      display: none !important;
    }
  }

}
