body.index {
  font-weight: 300;
  background-color: $green;
  background-image: image-url('waves.svg');

  h3 {
    margin-top: 0;
  }
  h3, h4, p, a {
    color: white;
    font-weight: 300;
    text-shadow: 0px 1px 0px black;
    &.btn {
      color: $green;
    }
  }
  ul {
    list-style: none;
  }
  footer {
    h4 {
      font-size: 11px;
    }
  }

  nav.main {
    .container {
      .navbar-header {
        button {
          width: 48px;
          height: 48px;
          border: 2px solid $red;
          border-radius: 0px;
          .icon-bar {
            background-color: $red;
          }
        }
        .navbar-brand {
          .icon {
            background-position: 0 -80px;
          }
          .text {
            display: none;
          }
        }
      }
      .navbar-collapse {
        .conference .icon {
          background-position: 0 -400px;
        }
        .location .icon {
          background-position: 0 -470px;
        }
        .sponsors .icon {
          background-position: 0 -540px;
        }
        a {
          color: $red;
          &:hover {
            color: $red;
          }
        }
      }
    }
  }

  header.horizon {
    z-index: 500;
    width: 100%;
    background-color: $orange;
    background-image: image-url('index/horizon.svg');
    background-position: center;
    background-size: 1700px;
    background-repeat: no-repeat;
    h1 {
      position: relative;
      left: 50%;
      z-index: 600;
      overflow: hidden;
      margin: 235px 0 0 -146px;
      padding: 0;
      width: 292px;
      height: 118px;
      background-image: image-url('index/graphics.svg');
      background-position: -3px 0px;
      background-repeat: no-repeat;
      font-size: 0;
      line-height: 0;
    }
    h2 {
      position: relative;
      left: 50%;
      overflow: hidden;
      margin: -5px 0 0 -146px;
      width: 292px;
      height: 121px;
      background-image: image-url('index/graphics.svg');
      background-repeat: no-repeat;
      font-size: 0;
      line-height: 0;
      &.en {
        background-position: -4px -120px;
      }
      &.pt {
        background-position: -4px -242px;
      }
    }
  }

  section.ocean {
    z-index: 400;
    background-image: linear-gradient(to bottom, rgba(1,121,145,1) 0%, rgba(52,155,138,0) 50%), linear-gradient(to bottom, rgba(1,121,145,0) 50%, rgba(1,121,145,1) 100%);
    .container {
      min-height: 800px;
      background-image: image-url('index/ocean-highlight.svg');
      background-size: 95%;
      background-position: center top;
      background-repeat: no-repeat;
    }
  }

  .tickets {
    top: 44px;
    z-index: 2000;
    text-align: center;
    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 20px;
      span {
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto;
        width: 64px;
        height: 65px;
        background: image-url('index/icon-tickets.svg');
        background-repeat: no-repeat;
      }
      &:hover, &:active {
        color: $gray3;
        span {
          background: image-url('index/icon-tickets-hover.svg');
        }
      }
    }
  }

  .cfp {
    top: 44px;
    z-index: 2000;
    text-align: center;
    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 20px;
      span {
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto;
        width: 64px;
        height: 65px;
        background: image-url('index/icon-cfp.svg');
        background-repeat: no-repeat;
      }
      &:hover, &:active {
        color: $gray3;
        span {
          background: image-url('index/icon-cfp-hover.svg');
        }
      }
    }
  }

  .porto {
    margin-top: 86px;
    padding: 0;
    p {
      position: relative;
      display: block;
      overflow: hidden;
      margin-right: auto;
      margin-left: auto;
      width: 292px;
      height: 221px;
      background-image: image-url('index/graphics.svg');
      background-position: -2px -372px;
      background-repeat: no-repeat;
      font-size: 0;
      line-height: 0;
    }
  }

  .description {
    margin-top: 86px;
    text-align: right;
    ul {
      text-align: right;
    }
    li {
      display: inline-block;
      &:before {
        position: relative;
        top: 1px;
        padding: 0 .5em;
        color: $gray2;
        content: '♦';
        font-size: 9px;
      }
      &:first-child:before {
        content: none;
      }
    }
  }

  .stay-tuned {
    margin-top: 86px;
    form {
      button {
        &.btn {
          margin-left: -2px;
          padding: 16px 14px 16px 14px;
          height: 48px;
          line-height: 12px;
        }
        span {
          display: inline-block;
          overflow: hidden;
          width: 16px;
          height: 12px;
          background-image: image-url('graphics.svg');
          background-position: 0px 0px;
          vertical-align: middle;
          font-size: 0;
          line-height: 0;
        }
      }
    }
    ul {
      margin-top: 12px;
      padding: 0;
      text-align: left;
      li {
        span {
          display: block;
          float: left;
          margin: 6px 6px 0px 0px;
          width: 16px;
          background-image: image-url('graphics.svg');
          background-repeat: no-repeat;
          &.twitter {
            height: 14px;
            background-position: -60px 0px;
          }
          &.facebook {
            height: 16px;
            background-position: -30px 0px;
          }
        }
        a {
          text-decoration: underline;
          text-shadow: 0px 1px 0px black;
        }
      }
    }
    a {
      margin-top: 12px;
      width: 100%;
      text-decoration: none;
      text-shadow: none;
    }
  }

  .sponsors-footer, .organizers-footer, .producer-footer, .advisory-supporter {
    text-align: center;
  }

  .sponsors-footer {
    margin-top: 24px;
    .tempest {
      display: inline-block;
      padding-top: 10px;
      text-align: center;
      .tempest-img {
        display: inline-block;
        overflow: hidden;
        width: 244px;
        height: 99px;
        background-image: image-url('index/brands.svg');
        background-position: 0px -300px;
        background-repeat: no-repeat;
        vertical-align: middle;
        font-size: 0px;
        &:hover, &:active {
          background-position: 0px -400px;
        }
      }
    }
  }

  .organizers-footer {
    margin-top: 36px;
    .for {
      display: inline-block;
      padding-top: 10px;
      text-align: center;
      .for-img {
        display: inline-block;
        overflow: hidden;
        width: 132px;
        height: 45px;
        background-image: image-url('index/brands.svg');
        background-position: 0px 0px;
        background-repeat: no-repeat;
        vertical-align: middle;
        font-size: 0px;
        &:hover, &:active {
          background-position: -150px 0px;
        }
      }
    }
    .guava {
      display: inline-block;
      padding-top: 25px;
      text-align: center;
      .guava-img {
        display: inline-block;
        overflow: hidden;
        width: 99px;
        height: 28px;
        background-image: image-url('index/brands.svg');
        background-position: 0px -50px;
        background-repeat: no-repeat;
        vertical-align: middle;
        font-size: 0px;
        &:hover, &:active {
          background-position: -150px -50px;
        }
      }
    }
    .eventick {
      display: inline-block;
      padding-top: 10px;
      text-align: center;
      .eventick-img {
        display: inline-block;
        overflow: hidden;
        width: 118px;
        height: 42px;
        background-image: image-url('index/brands.svg');
        background-position: 0px -80px;
        background-repeat: no-repeat;
        vertical-align: middle;
        font-size: 0px;
        &:hover, &:active {
          background-position: -150px -80px;
        }
      }
    }
  }

  .producer-footer {
    margin-top: 36px;
    margin-bottom: 40px;
    ul {
      padding-left: 0;
    }
    .casaeventos {
      display: inline-block;
      padding-top: 20px;
      text-align: center;
      .casaeventos-img {
        display: inline-block;
        overflow: hidden;
        width: 114px;
        height: 70px;
        background-image: image-url('index/brands.svg');
        background-position: 0px -130px;
        background-repeat: no-repeat;
        vertical-align: middle;
        font-size: 0px;
        &:hover, &:active {
          background-position: 0px -220px;
        }
      }
    }
  }

  .advisory-supporter {
    margin-top: 36px;
    margin-bottom: 40px;
    ul {
      padding-left: 0;
    }
    .rubycentral {
      display: inline-block;
      padding-top: 10px;
      text-align: center;
      .rubycentral-img {
        display: inline-block;
        overflow: hidden;
        width: 97px;
        height: 80px;
        background-image: image-url('index/brands.svg');
        background-position: -150px -130px;
        background-repeat: no-repeat;
        vertical-align: middle;
        font-size: 0px;
        &:hover, &:active {
          background-position: -150px -220px;
        }
      }
    }
  }

  .attribution {
    p, a {
      color: $gray2;
    }
  }

  @media (min-width: 320px) and (max-width: 365px) {
    h1, h2 {
      -webkit-transform: scale(0.8904);
      -moz-transform: scale(0.8904);
      -ms-transform: scale(0.8904);
      -o-transform: scale(0.8904);
      transform: scale(0.8904);
    }
    h1 {
      -webkit-transform-origin: bottom center;
      transform-origin: bottom center;
    }
    h2 {
      -webkit-transform-origin: top center;
      transform-origin: top center;
    }
    .porto {
       p {
        margin-bottom: -1em;
        margin-left: -4px;
        -webkit-transform: scale(0.8904);
        -moz-transform: scale(0.8904);
        -ms-transform: scale(0.8904);
        -o-transform: scale(0.8904);
        transform: scale(0.8904);
        -webkit-transform-origin: top center;
        transform-origin: top center;
       }
    }
  }

  @media (max-width: 767px) {
    nav.main {
      .navbar-collapse {
        border-top-color: $red;
        ul {
          li {
            &:last-child {
              border-top-color: $red;
            }
          }
        }
      }
    }
    ul {
      padding: 0;
    }
    .cfp, .tickets {
      margin: 120px 0 0 0;
    }
    .porto {
      margin-top: 80px;
    }
    .description {
      text-align: center;
      ul {
        text-align: center;
      }
    }
    .stay-tuned {
      text-align: center;
      ul {
        text-align: center;
        li {
          display: inline-block;
          margin-bottom: 8px;
          span {
            margin-left: 45%;
          }
        }
      }
    }
    .stay-tuned, .description, .sponsors-footer {
      margin-top: 48px;
    }
    .organizers-footer {
      .guava {
        padding-top: 35px;
      }
      .eventick {
        padding-top: 20px;
      }
    }
    .producer-footer {
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    section.ocean {
      .container {
        background-size: 100%;
      }
    }
    .tickets {
      padding-left: 0;
      text-align: right;
      a {
        span {
          float: right;
          margin: 0 0.5em 0.5em 0.5em;
        }
      }
    }
    .cfp {
      padding-right: 0;
      text-align: left;
      a {
        span {
          float: left;
          margin: 0 0.5em 0.5em 0.5em;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $red;
              }
            }
          }
        }
      }
    }
    .cfp, .tickets {
      top: 240px;
    }
    .stay-tuned, .description, .sponsors-footer {
      margin-top: 36px;
    }
    .organizers-footer {
      .for {
        a {
          text-align: right;
        }
      }
      .eventick {
        a {
          text-align: left;
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $red;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    .cfp, .tickets {
      a {
        padding-top: 20px;
        span {
          margin-top: -20px;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    nav.main .text {
      display: none !important;
    }
  }

}
