$red: #981d25;
$green: #017991;
$blue: #1f4ea4;
$gray: #808080;

body {
  font-size: 16px;

  &, h1 {
    font-family: 'Titillium Web', sans-serif;
  }

  nav.main {
    @extend .navbar;
    @extend .navbar-default;
    @extend .navbar-fixed-top;

    border-bottom: none;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 1px 0 rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.1), inset 0 -1px 0 rgba(255,255,255,.25);

    .container {
      .navbar-header {
        button {
          @extend .navbar-toggle;
        }

        .navbar-brand {
          padding: 0;

          .icon, .text {
            display: block;
            float: left;
            background-image: image-url('graphics.svg');
          }
          .icon {
            margin: 16px 0;
            width: 64px;
            height: 61px;
          }
          .text {
            @extend .text-hide;
            display: none;

            margin: 20px 16px 16px 16px;
            width: 300px;
            height: 60px;
          }
        }
      }

      .navbar-collapse {
        ul {
          @extend .nav;
          @extend .navbar-nav;
          @extend .navbar-right;
        }
      }
    }
  }

  header {
    height: 350px;

    &.of-section {
      h1 {
        margin: 0;
        padding-top: 110px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
        letter-spacing: -2px;
        font-weight: 300;
        font-size: 42px;

        .icon {
          display: block;
          margin: auto;
          width: 130px;
          height: 130px;
          background-image: image-url('graphics.svg');
        }
      }
    }

    nav {
      ul {
        padding: .75em;
        list-style: none;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0,0,0,1);
        font-weight: 300;

        li {
          display: inline-block;

          &:before {
            position: relative;
            top: 1px;
            padding: 0 .5em;
            color: white;
            content: '♦';
          }

          &:first-child:before {
            content: none;
          }
        }

        a, a:hover {
          color: white;
        }
      }
    }
  }

  @media (min-width: 768px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            letter-spacing: -1px;
            line-height: 64px !important;

            &:hover {
              // TODO Create a better effect
              text-shadow: 0 0 10px white;
              .icon {
                background-color: rgba(255, 255, 255, 0.5);
              }
            }

            &.section {
              text-transform: uppercase;

              .icon {
                display: inline-block;
                margin-right: 0.5em;
                width: 64px;
                height: 64px;
                background-image: image-url('graphics.svg');
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    nav.main .text {
      display: block !important;
    }
  }
}
