body.location {
  background-color: $blue;
  background-image: image-url('location/photo-by-victor-bonomi.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  nav.main {
    box-shadow: 0 1px 0 rgba(0,0,0,.4), 0 1px 2px rgba(0,0,0,.4), inset 0 -1px 0 rgba(255,255,255,.3);
    .container {
      .navbar-header {
        button {
          width: 48px;
          height: 48px;
          border: 2px solid $blue;
          border-radius: 0px;
          .icon-bar {
            background-color: $blue;
          }
        }
        .navbar-brand {
          .icon {
            background-position: -128px -80px;
          }
          .text {
            background-position: 0 -280px;
          }
        }
      }

      .navbar-collapse {
        .conference .icon {
          background-position: -140px -400px;
        }
        .location .icon {
          background-position: -140px -470px;
        }
        .sponsors .icon {
          background-position: -140px -540px;
        }
        a {
          color: $blue;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  header {
    h1 {
      .icon {
        background-position: -125px -620px;
      }
    }
  }

  section.porto-de-galinhas {
    h1, h2, h3, a {
      color: $blue;
    }
    h1, h2, h3, h4 {
      margin-top: 24px;
      margin-bottom: 12px;
    }
    h1, h2, h3 {
      font-weight: 400;
    }
    h4 {
      font-weight: 600;
      color: black;
    }
    p {
      color: black;
      font-weight: 300;
    }
    a {
      text-transform: none;
      &:hover {
        font-weight: 600;
      }
    }
    .tel {
      a {
        padding-right: 0.5em;
        &:last-child {
          padding-left: 0.5em;
        }
      }
    }
    .container {
      .about-porto {
        background-color: white;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
        min-height: 400px;
        padding: 26px 45px 50px 50px;
      }
    }
  }

  footer {
    margin-top: 2em;
  }

  @media (max-width: 767px) {
    nav.main {
      .navbar-collapse {
        border-top: 2px solid $blue;
        ul {
          li {
            &:last-child {
              border-top: 2px solid $blue;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $blue;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $blue;
              }
            }
          }
        }
      }
    }
  }

}
