body.location, body.en_location, body.pt_location {
  background: image-url('location/photo-by-victor-bonomi.jpg') no-repeat top center fixed;
  background-color: $blue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 300;

  hr {
    border-top: 2px solid $gray3;
    width: 120%;
    margin-left: -50px;
  }

  nav.main {
    box-shadow: 0 1px 0 rgba(0,0,0,.4), 0 1px 2px rgba(0,0,0,.4), inset 0 -1px 0 rgba(255,255,255,.3);
    .container {
      .navbar-header {
        button {
          width: 48px;
          height: 48px;
          border: 2px solid $blue;
          border-radius: 0px;
          .icon-bar {
            background-color: $blue;
          }
        }
        .navbar-brand {
          .icon {
            background-position: -128px -80px;
          }
          .text {
            background-position: 0 -280px;
          }
        }
      }

      .navbar-collapse {
        .conference .icon {
          background-position: -140px -400px;
        }
        .location .icon {
          background-position: -140px -470px;
        }
        .sponsors .icon {
          background-position: -140px -540px;
        }
        a {
          color: $blue;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  header {
    h1 {
      .icon {
        background-image: image-url('icon-header-location@2x.png');
        background-size: 128px;
      }
    }
  }

  section.porto-de-galinhas {
    overflow: hidden;
    h1, h2, h3, a {
      color: $blue;
    }
    h1, h2, h4 {
      margin-top: 24px;
      margin-bottom: 12px;
    }
    h3 {
      margin-top: 48px;
      margin-bottom: 12px;
    }
    h1, h2, h3 {
      font-weight: 400;
    }
    h4 {
      color: black;
      font-weight: 600;
    }
    p {
      color: black;
    }
    a {
      text-decoration: none;
      text-transform: none;
      &:hover {
        text-decoration: underline;
      }
    }
    ul, address {
      color: black;
    }
    dl {
      dt {
        font-weight: 600;
        color: $gray;
      }
    }
    .tel {
      a {
        padding-right: 0.5em;
        &:last-child {
          padding-left: 0.5em;
        }
      }
    }
    strong {
      font-weight: 600;
    }
    .container {
      .about-porto {
        margin-bottom: 20px;
        padding: 10px 45px 50px 50px;
        min-height: 400px;
        background-color: white;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
      }
    }
    .video-wrapper {
      position: relative;
      padding-top: 25px;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
    }
    .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .to-the-top {
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 14px;
      width: 48px;
      height: 24px;
      border: 2px solid $gray3;
      text-align: center;
      &:hover {
        text-decoration: none;
        border-color: $blue;
      }
    }
  }

  .attribution {
    p, a {
      margin-top: 60px;
      color: white;
      text-shadow: 1px 1px 0 black;
      font-weight: 200;
    }
  }

  footer {
    background-image: linear-gradient(to bottom, rgba(31,78,164,0) 0%, rgba(31,78,164,.8) 100%);
  }

  @media (max-width: 380px) {
    section.porto-de-galinhas {
      .container {
        .about-porto {
          padding-right: 25px;
          padding-left: 35px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    nav.main {
      .navbar-collapse {
        border-top: 2px solid $blue;
        ul {
          li {
            &:last-child {
              border-top: 2px solid $blue;
            }
          }
        }
      }
    }
    section.porto-de-galinhas {
      .container {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
      }
    }
    hr {
      width: 150%;
      margin-left: -50px;
    }
  }

  @media (max-width: 1024px) {
    body.location {
      -webkit-background-size: 150% 100%;
      -moz-background-size: 150% 100%;
      -o-background-size: 150% 100%;
      background-size: 150% 100%;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $blue;
              }
            }
          }
        }
      }
    }
    hr {
      width: 119%;
      margin-left: -50px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $blue;
              }
            }
          }
        }
      }
    }
    hr {
      width: 118%;
      margin-left: -50px;
    }
  }

  @media (min-width: 1200px) {
    section.porto-de-galinhas {
      span {
        &.icon {
          position: absolute;
          width: 260px;
          height: 260px;
        }
        &.icon-left {
          margin-left: -320px;
          background-size: 260px;
        }
        &.icon-right {
          margin-left: 540px;
          background-size: 260px;
        }
        &.icon-porto {
          background-image: image-url('location/chicken@2x.png');
        }
        &.icon-map {
          margin-top: -360px;
          background-image: image-url('location/map@2x.png');
        }
        &.icon-city {
          margin-top: -420px;
          background-image: image-url('location/city@2x.png');
        }
        &.icon-crab {
          margin-top: -100px;
          background-image: image-url('location/crab@2x.png');
        }
      }
    }
  }

}
