body.sponsors {
  background-image: image-url('waves-grey.svg');

  h4 {
    display: block;
    margin-top: -10px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    color: $gray;
    text-align: center;
    text-shadow: none;
    font-weight: 300;
  }
  p {
    margin-top: 20px;
    font-weight: 300;
  }

  nav.main {
    .container {
      .navbar-header {
        button {
          width: 48px;
          height: 48px;
          border: 2px solid $gray;
          border-radius: 0px;
          .icon-bar {
            background-color: $gray;
          }
        }
        .navbar-brand {
          .icon {
            background-position: -192px -80px;
          }
          .text {
            background-position: 0 -340px;
          }
        }
      }

      .navbar-collapse {
        .conference .icon {
          background-position: -210px -400px;
        }
        .location .icon {
          background-position: -210px -470px;
        }
        .sponsors .icon {
          background-position: -210px -540px;
        }
        a, a:hover {
          color: $gray;
        }
      }
    }
  }

  header {
    h1 {
      color: $gray;
      text-shadow: none;
      .icon {
        background-position: 0px -750px;
      }
    }
  }

  .tempest, .for, .guava, .eventick, .casaeventos, .rubycentral, .thoughtworks, .globo, .casadocodigo, .designa, .tagarela, .ubee, .novatec {
    display: inline-block;
    text-align: center;
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  section {
    border-top: 1px solid $gray2;
  }

  section.gold {
    h4 {
      margin-bottom: 20px;
      width: 80px;
    }
    img {
      width: 250px;
      height: 125px;
    }
  }

  section.organizers, section.supporters {
    img {
      width: 100px;
      height: 100px;
    }
  }

  section.organizers {
    margin-top: 60px;
    h4 {
      width: 290px;
    }
  }

  section.supporters {
    margin-top: 30px;
    h4 {
      margin-bottom: 20px;
      width: 100px;
    }
  }

  @media (min-width: 510px) {
    section.gold {
      img {
        width: 400px;
        height: 200px;
      }
    }
    section.organizers, section.supporters {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }

  @media (max-width: 767px) {
    nav.main {
      .navbar-collapse {
        border-top: 2px solid $gray;
        ul {
          li {
            &:last-child {
              border-top: 2px solid $gray;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $gray;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $gray;
              }
            }
          }
        }
      }
    }
  }

}
