body.sponsors, body.en_sponsors, body.pt_sponsors {
  background-image: image-url('waves-grey.svg');
  -webkit-font-smoothing: subpixel-antialiased;

  ul, li, dl {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &.pt {
    section.apoio {
      width: 50px;
    }
    section.silver {
      .la {
        .activity-supporter {
          width: 290px;
        }
      }
    }
    @media (min-width: 320px) and (max-width: 360px) {
      h1 {
        font-size: 36px;
      }
      section.silver {
        .la {
          .activity-supporter {
            text-align: left;
            width: 260px;
            padding-left: 52px;
            .icon-supporter {
              margin-top: 1px;
              margin-left: -40px;
            }
          }
        }
      }
    }
    @media (min-width: 768px) {
      section.organizers {
        h4 {
          width: 390px;
        }
      }
    }
  }

  h4 {
    display: block;
    margin-top: -10px;
    margin-right: auto;
    margin-left: auto;
    color: $gray;
    text-align: center;
    text-shadow: none;
    font-weight: 300;
  }
  p {
    margin-top: 20px;
    font-weight: 300;
    a {
      font-weight: 300;
      color: $gray;
    }
  }

  nav.main {
    .container {
      .navbar-header {
        button {
          width: 48px;
          height: 48px;
          border: 2px solid $gray;
          border-radius: 0px;
          .icon-bar {
            background-color: $gray;
          }
        }
        .navbar-brand {
          .icon {
            background-position: -192px -80px;
          }
          .text {
            background-position: 0 -340px;
          }
        }
      }

      .navbar-collapse {
        .conference .icon {
          background-position: -210px -400px;
        }
        .location .icon {
          background-position: -210px -470px;
        }
        .sponsors .icon {
          background-position: -210px -540px;
        }
        a, a:hover {
          color: $gray;
        }
      }
    }
  }

  header {
    h1 {
      color: $gray;
      text-shadow: none;
      .icon {
        background-image: image-url('icon-header-sponsors@2x.png');
        background-size: 128px;
      }
    }
  }

  section {
    &:before {
      display: block;
      content: '';
      width: 100%;
      height: 2px;
      margin: 36px auto 36px auto;
      background: linear-gradient(to right, rgba(230,230,230,0) 0%, rgba(230,230,230,1) 20%, rgba(230,230,230,1) 80%, rgba(230,230,230,0) 100%);
    }
  }

  section.gold {
    &:before {
      margin-top: -46px;
    }
    h4 {
      margin-bottom: 20px;
      width: 75px;
    }
    img {
      width: 280px;
      height: 140px;
    }
  }

  section.silver {
    margin-top: 40px;
    h4 {
      margin-bottom: 10px;
      width: 75px;
    }
    img {
      width: 190px;
      height: 131px;
    }
    p {
      margin-top: 5px;
    }
  }

  section.bronze {
    margin-top: 60px;
    h4 {
      margin-bottom: 10px;
      width: 80px;
    }
    img {
      width: 150px;
      height: 112.5px;
    }
  }

  section.organizers {
    margin-top: 40px;
    h4 {
      margin-bottom: 10px;
      width: 280px;
    }
    img {
      width: 150px;
      height: 112.5px;
    }
  }

  section.supporters {
    margin-top: 30px;
    h4 {
      margin-bottom: 30px;
      width: 100px;
    }
    .executive-producer {
      dt {
        display: inline-block;
        margin-bottom: -20px;
        width: 100%;
        color: $gray;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
      }
      img {
        width: 90px;
        height: 90px;
        margin-bottom: 20px;
      }
    }
    .institutional-support {
      margin-top: 10px;
      margin-bottom: 0;
      img {
        width: 90px;
        height: 90px;
      }
      div {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .tempest, .locaweb, .la, .livingsocial, .sendgrid, .shopify, .rackspace, .harvest, .ubee, .engineyard, .elife, .nird, .openredis, .gioco, .axon, .cesar, .globo, .semaphore, .mongohq, .for, .guava, .eventick, .casaeventos, .rubycentral, .casablanca, .portodigital, .impacthub, .eloquent, .casadocodigo, .designa, .tagarela, .novatec, .imasters, .codeclimate, .thoughtworks, .citi, .gravento {
    display: inline-block;
    text-align: center;
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .tempest, .locaweb {
    padding-left: 0;
    padding-right: 0;
  }

  .livingsocial {
    margin-top: 20px;
  }

  .attribution {
    div {
      &:first-child {
        &:before {
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          margin: 36px auto 36px auto;
          background: linear-gradient(to right, rgba(230,230,230,0) 0%, rgba(230,230,230,1) 20%, rgba(230,230,230,1) 80%, rgba(230,230,230,0) 100%);
        }
      }
    }
    p, a {
      color: black;
      text-align: center;
    }
  }

  .activity-supporter {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    padding: 3px 5px 3px 28px;
    border: 2px solid $gray2;
    width: 222px;
    font-weight: 600;
    color: black;
    font-size: 13px;
    text-shadow: white 0 1px;
    text-transform: uppercase;
    background-color: white;
    text-align: center;
    line-height: 16px;
    .icon-supporter {
      position: absolute;
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-top: -8px;
      margin-left: -32px;
      background-image: image-url('sponsors/icon-supporter@2x.png');
      background-size: 32px;
    }
  }

  @media (min-width: 510px) {
    section.gold {
      img {
        width: 400px;
        height: 200px;
      }
    }

    section.silver {
      img {
        width: 290px;
        height: 200px;
      }
    }

    section.bronze {
      img {
        width: 200px;
        height: 150px;
      }
    }
    section.organizers {
      h4 {
        margin-bottom: 5px;
      }
      img {
        width: 200px;
        height: 150px;
      }
    }
    section.supporters {
      .executive-producer {
        img {
          width: 120px;
          height: 120px;
        }
      }
      .institutional-support {
        img {
          width: 120px;
          height: 120px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    nav.main {
      .navbar-collapse {
        border-top: 2px solid $gray;
        ul {
          li {
            &:last-child {
              border-top: 2px solid $gray;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .livingsocial {
      margin-top: 0;
    }
    .tempest, .locaweb {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $gray;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    nav.main {
      .navbar-collapse {
        li {
          a {
            &.section {
              .icon {
                outline: 1px solid $gray;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    section.silver {
      .la, .livingsocial, .sendgrid, .shopify, .rackspace, .harvest {
        p {
          margin-top: -25px;
          padding: 0 30px;
        }
      }
    }
  }

}
