$red: #981d25;
$blue: #1f4ea4;
$gray: #808080;

body {
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;

  nav {
    @extend .navbar;
    @extend .navbar-default;
    @extend .navbar-fixed-top;

    background-color: white;
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: none;
    box-shadow: 0 1px 0 rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.1), inset 0 -1px 0 rgba(255,255,255,.25);

    .container {
      .navbar-header {
        button {
          @extend .navbar-toggle;
        }

        .navbar-brand {
          padding: 0;

          .icon, .text {
            background-image: image-url('graphics.svg');
            display: block;
            float: left;
          }
          .icon {
            margin: 16px 0;
            height: 61px;
            width: 64px;
          }
          .text {
            @extend .text-hide;

            margin: 20px 16px 16px 16px;
            width: 300px;
            height: 60px;
          }
        }
      }

      .navbar-collapse {
        ul {
          @extend .nav;
          @extend .navbar-nav;
          @extend .navbar-right;

          li {
            a {
              letter-spacing: -1px;
              line-height: 64px;

              &:hover {
                // TODO Create a better effect
                text-shadow: 0 0 10px white;
                .icon {
                  background-color: rgba(255, 255, 255, 0.5);
                }
              }

              &.section {
                text-transform: uppercase;

                .icon {
                  display: inline-block;
                  margin-right: 0.5em;
                  width: 64px;
                  height: 64px;
                  background-image: image-url('graphics.svg');
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
  }
}