---
title: Código de Conduta &#9671; Abril Pro Ruby 2014 &#9671; 26 de Abril @ Porto de Galinhas
---

<header id="content" class="of-section">
  <h1>
    <span class="icon"></span>Código de Conduta
  </h1>
</header>

<section>
  <div class="container">
    <div class="code-content col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <p>Abril Pro Ruby se dedica a providenciar uma experiência sem constrangimento para todos, independente de gênero, identidade e expressão de gênero, orientação sexual, deficiências, aparência física, dimensões corporais, raça, religião ou posicionamento político. Não será tolerado o constrangimento de participantes da conferência de modo algum. Linguagem e imagens sexuais direcionadas a qualquer grupo ou pessoa específicos não é apropriado ao local do evento, incluindo palestras. Participantes da conferência que violarem essas regras podem ser expulsos da conferência sem reembolso, a critério dos organizadores da conferência.</p>
      <p>Constrangimentos incluem comentários ofensivos relacionados ao gênero, identidade e expressão de gênero, orientação sexual, deficiências, aparência física, dimensões corporais, raça, religião, posicionamento político, imagens de cunho sexual em locais públicos, intimidação intencional, perseguição, gravações ou fotos constrangedoras, interrupções continuadas das palestras ou outros eventos, contato físico inapropriado e atenção sexual não solicitada. Participantes que forem solicitados a parar com o comportamento constrangedor devem parar imediatamente.</p>
      <p>Expositores no salão de exposições, estandes de patrocinadores ou fornecedores, ou atividades similares também estão sujeitos à política de prevenção de constrangimento. Em especial, expositores não deverão usar imagens, atividades ou materiais sexualizados. Tanto a organização do evento (incluindo voluntários), não deverão usar roupas sexualizadas ou criar um ambiente sexualizado. Apesar da conferência ser localizada na praia, os participantes, equipe de organização e expositores não podem utilizar roupas de banho durante as atividades principais do evento.</p>
      <p>Se um participante apresentar comportamentos constrangedores, os organizadores da conferência podem tomar quaisquer ações a seu critério, incluindo alertar o ofensor ou expulsá-lo da conferência sem reembolso. Se você estiver sendo constrangido, perceber que alguém está sendo constrangido, ou tem outras preocupações, favor contacte um membro da organização imediatamente. A equipe da organização do evento pode ser identificada por camisetas e credenciais especiais.</p>
      <p>A equipe da organização do evento se disponibiliza a ajudar participantes a contactarem a segurança do hotel ou a polícia local, providenciar escolta ou ajudar os que estiverem sendo constrangidos a se sentirem seguros durante a conferência. Nós valorizamos sua participação.</p>
      <h3>Contatos Úteis</h3>
      <ul>
        <li>Conference staff: <a href="mailto:abrilproruby@frevoonrails.com.br">abrilproruby@frevooonrails.com.br</a></li>
        <li>Hotel Armação: <strong>+55 81 2126 2160</strong></li>
        <li>Polícia: <strong>190</strong></li>
        <li>Central de Atendimento a Mulher: <strong>180</strong></li>
        <li>SAMU: <strong>192</strong></li>
      </ul>
      <p>Esperamos que os participantes sigam estas regras em todos os locais do evento e eventos relacionados.</p>
    </div>
  </div>
</section>

<footer>
  <div class="container attribution">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <p>Ícone de Conferido por Anas Ramadan do <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
    </div>
  </div>
</footer>
