---
title: Conference &diams; Abril Pro Ruby 2014 &diams; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <div class="content-background">
    <div class="container">
      <h1>
        <span class="icon"></span>Conference
      </h1>
      <nav class="secondary">
        <ul>
          <li>
            <a href="#speakers">Speakers</a>
          </li>
          <li>
            <a href="#activities">Activities</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section id="speakers" class="speakers">
  <div class="container">
    <h2>Speakers</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-4 ">
        <div class="speaker jim">
          <%= image_tag 'conference/speaker-jim@2x.png', class: 'photo' %>
          <div class="desc">
            <h3 class="name">Jim Weirich</h3><br/>
            <small class="title">Chef Scientist at Neo and Creator of Rake</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="speaker nell">
          <%= image_tag 'conference/speaker-nell@2x.png', class: 'photo' %>
          <div class="desc">
            <h3 class="name">Nell Shamrell</h3><br/>
            <small class="title">Software Developer and Engineering Project Manager at Blue Box</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="speaker rafael">
          <%= image_tag 'conference/speaker-rafael@2x.png', class: 'photo' %>
          <div class="desc">
            <h3 class="name">Rafael França</h3><br/>
            <small class="title">Software Developer at Plataformatec and Member of Rails Core Team</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row cfp">
      The Call for Proposals is now closed. Thank you all for the 63 high-quality proposals from all over the world. We will announce the selected speakers soon. Stay tuned!
    </div>
  </div>
</section>

<section id="activities" class="activities">
  <div class="container">
    <h2>Activities</h2>
    <p>AP.Rb is also about fun, so we are going to have activities before and after the conference.</p>

    <div class="row">
      <div class="friday col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
        <h3>Friday (April 25<sup>th</sup>)</h3>
        <ul>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <li><span class="icon icon-sailing"></span>Raft boat sailing</li>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <li><span class="icon icon-buggy"></span>Buggy ride</li>
            </div>
          </div>
        </ul>
      </div>
      <div class="sunday col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <h3>Sunday (April 27<sup>th</sup>)</h3>
        <ul>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <li><span class="icon icon-snorkeling"></span>Scuba diving</li>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <li><span class="icon icon-catamaran"></span>Catamaran ride</li>
            </div>
          </div>
        </ul>
      </div>

      <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h4 class="sr-only">Remarks</h4>
        <ul>
          <li>Activities are not included in the conference tickets.</li>
          <li>Passes will be sold separately.</li>
          <li>The specific activities are subject to change.</li>
          <li>Limited availability.</li>
        </ul>
      </div>
    </div>

    <footer>
      <div class="attribution">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <p>Icons' attribution (in respective order): Conversation, Microphone, Beach Ball, Boat, Sail Boat and Snorkel by Gregory Radek, Edward Boatman, Celine Labaume, James Keuning, Laurent Patain and Nithin Viswanathan from <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</section>
