---
title: Conference &#9671; Abril Pro Ruby 2014 &#9671; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <div class="content-background">
    <div class="container">
      <h1><span class="icon"></span>Conference</h1>
      <nav class="secondary">
        <ul>
          <li>
            <a data-scroll data-url="true" href="#workshops">
              <span class="icon icon-workshops"></span>
              <span class="day">4<span>/</span>24</span><span class="subtitle">Workshops</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#activities">
              <span class="icon icon-activities"></span>
              <span class="day">4<span>/</span>25</span><span class="subtitle">Activities</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#talks">
              <span class="icon icon-talks"></span>
              <span class="day">4<span>/</span>26</span><span class="subtitle">Talks</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#activities">
              <span class="icon icon-activities"></span>
              <span class="day">4<span>/</span>27</span><span class="subtitle">Activities</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section id="talks" class="talks">
  <div class="container">
    <h2>Talks</h2>
    <div class="date-venue-tickets">
      <h3 class="date"><span class="icon icon-calendar"></span>04/26 (Sat.)</h3>
      <h3 class="venue"><span class="icon icon-location"></span>Hotel Armação</h3>
      <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket</a>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">

        <div id="nell" class="speaker nell">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time">09:00am</p>
                <%= image_tag 'conference/speaker-nell.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">Nell Shamrell</h3>
                  <small class="title">Senior Developer at PhishMe</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="#"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="#"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Crafting and Optimizing Algorithms in Ruby<span class="duration sr-only">30m</span></h3>
                <p>Every day, knowingly or not, we create and follow algorithms. From deciding what route to take home from the office to following a recipe as we cook or bake, life is made of patterns. These patterns take on special meeting when they need to be interpreted by a computer. No matter who interprets algorithms—whether human or machine—they must be efficient <span class="ellipsis">…</span><span class="sr-only">in both speed and resource consumption. Come and learn the principles and best practices of crafting, evaluating, and refining algorithms in Ruby. We will work our way through a real world example of creating the core algorithm of a fantasy combat game. Step by step, we will translate a complex system of rules into a robust and efficient Ruby algorithm. You will walk away with a better understanding of how to create optimal algorithms and refactor existing algorithms in your own Ruby code.</span></p>
                <a href="#" class="more">More</a>
            </div>
          </div>
        </div>
        <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
      </div>

        <div id="rafael" class="speaker rafael right">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time">10:00am</p>
                <%= image_tag 'conference/speaker-rafael.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">Rafael França</h3>
                  <small class="title">Software Developer at Plataformatec</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="#"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="#"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>Rails: The Hidden Parts<span class="duration sr-only">30m</span></h3>
                <p>The Rails framework contains a set of useful features for every web application, but not every feature is well implemented and bug-free.</p>
                <p>During this talk we will we will walk through two very old Rails features—Active Record’s scopes and HTML sanitisation—and explain how they work under the hood. Also, It will be presented the current issues we’ve been facing and how they can be improved.</p>
            </div>
          </div>
        </div>
        <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
      </div>

    </div>
  </div>
</section>

<section id="workshops" class="workshops">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2>Workshops</h2>
      <div class="date-venue-tickets">
        <h3 class="date"><span class="icon icon-calendar"></span>04/24 (Thu.)</h3>
        <h3 class="venue"><span class="icon icon-location"></span>Recife</h3>
        <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket</a>
      </div>
    </div>

    <div id="akshay-and-leandro" class="speaker akshay-and-leandro two-men-army">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
            <p class="time">09:00am</p>
            <%= image_tag 'conference/speaker-akshay.png', class: 'photo' %>
            <%= image_tag 'conference/speaker-leandro.png', class: 'photo' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
            <div class="desc">
              <h3 class="name">Akshay Karle</h3>
              <small class="title">Developer at Thoughtworks</small>
              <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="#"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="#"><span class="icon icon-github"></span>GitHub</a></div>
            </div>
            <div class="desc">
              <h3 class="name">Leandro Gualter</h3>
              <small class="title">Developer at Thoughtworks</small>
              <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="github" href="#"><span class="icon icon-github"></span>GitHub</a></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="talk">
            <h3>Crafting and Optimizing Algorithms in Ruby<span class="duration sr-only">30m</span></h3>
            <p>Every day, knowingly or not, we create and follow algorithms. From deciding what route to take home from the office to following a recipe as we cook or bake, life is made of patterns. These patterns take on special meeting when they need to be interpreted by a computer. No matter who interprets algorithms—whether human or machine—they must be efficient in both speed and resource consumption. Come and learn the principles and best practices of crafting, evaluating, and refining <span class="ellipsis">…</span><span class="sr-only">algorithms in Ruby. We will work our way through a real world example of creating the core algorithm of a fantasy combat game. Step by step, we will translate a complex system of rules into a robust and efficient Ruby algorithm. You will walk away with a better understanding of how to create optimal algorithms and refactor existing algorithms in your own Ruby code.</span></p>
            <a href="#" class="more">More</a>
          </div>
        </div>
      </div>
      <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
    </div>

  </div>
</section>

<section id="activities" class="activities">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2>Activities</h2>
    </div>
    <div class="row">
      <div class="friday col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
        <div class="date-venue-tickets">
          <h3 class="date"><span class="icon icon-calendar"></span>04/25 (Fri.)</h3>
          <h3 class="venue"><span class="icon icon-location"></span>Porto</h3>
          <a class="soon" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket</a>
        </div>
        <ul>
          <div class="row">
            <div class="activity">
              <li><span class="icon icon-sailing"></span>Raft Boat Sailing</li>
            </div>
            <div class="activity">
              <li><span class="icon icon-buggy"></span>Buggy Ride</li>
            </div>
          </div>
        </ul>
      </div>
      <div class="sunday col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <div class="date-venue-tickets">
          <h3 class="date"><span class="icon icon-calendar"></span>04/27 (Sun.)</h3>
          <h3 class="venue"><span class="icon icon-location"></span>Porto</h3>
          <a class="soon" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket</a>
        </div>
        <ul>
          <div class="row">
            <div class="activity">
              <li><span class="icon icon-snorkeling"></span>Scuba Diving</li>
            </div>
            <div class="activity">
              <li><span class="icon icon-catamaran"></span>Catamaran Ride</li>
            </div>
          </div>
        </ul>
      </div>
      <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h4 class="sr-only">Remarks</h4>
        <ul>
          <li>Activities are not included in the conference tickets.</li>
          <li>Passes will be sold separately.</li>
          <li>The specific activities are subject to change.</li>
          <li>Limited availability.</li>
          <li>More info will be available in a few days.</li>
        </ul>
        <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
      </div>
    </div>

    <footer>
      <div class="attribution">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <p>Icons' attribution (in respective order): Conversation, Microphone, Beach Ball, Boat, Sail Boat, Snorkel and Gear by Gregory Radek, Edward Boatman, Celine Labaume, James Keuning, Laurent Patain, Nithin Viswanathan and Reed Enger from <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</section>
