---
title: Conferência &diams; Abril Pro Ruby 2014 &diams; 26 de Abril @ Porto de Galinhas
---

<header id="content" class="of-section">
  <div class="content-background">
    <div class="container">
      <h1>
        <span class="icon"></span>Conferência
      </h1>
      <nav class="secondary">
        <ul>
          <li>
            <a href="#speakers">Palestrantes</a>
          </li>
          <li>
            <a href="#activities">Atividades</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section id="speakers" class="speakers">
  <div class="container">
    <h2>Palestrantes</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-4 ">
        <div class="speaker jim">
          <%= image_tag 'conference/speaker-jim@2x.png', class: 'photo' %>
          <div class="desc">
            <h3 class="name">Jim Weirich</h3><br/>
            <small class="title">Cientista Chefe na Neo e Criador do Rake</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="speaker nell">
          <%= image_tag 'conference/speaker-nell@2x.png', class: 'photo' %>
          <div class="desc">
            <h3 class="name">Nell Shamrell</h3><br/>
            <small class="title">Desenvolvedora de Software e Gerente de Projetos
              na Blue Box</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="speaker rafael">
          <%= image_tag 'conference/speaker-rafael@2x.png', class: 'photo' %>
          <div class="desc">
            <h3 class="name">Rafael França</h3><br/>
            <small class="title">Desenvolvedor na Plataformatec e Membro do Rails Core Team</small>
          </div>
        </div>
      </div>
    </div>

    <div class="cfp col-md-6 col-md-offset-3 col-xs-12">
      A Chamada para Palestrantes foi encerrada. Agradecemos a todas as 63 propostas de altíssima qualidade e de todo o mundo. Anunciaremos os palestrantes selecionados muito em breve. Fique ligado!
    </div>
  </div>
</section>

<section id="activities" class="activities">
  <div class="container">
    <h2>Atividades</h2>
    <p>AP.Rb é também sobre diversão, portanto vamos ter atividades antes e depois da conferência.</p>

    <div class="row">
      <div class="friday col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
        <h3>Sexta (25 de Abril)</h3>
        <ul>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <li><span class="icon icon-sailing"></span>Passeio de Jangada</li>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <li><span class="icon icon-buggy"></span>Passeio de Buggy</li>
            </div>
          </div>
        </ul>
      </div>
      <div class="sunday col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <h3>Domingo (27 de Abril)</h3>
        <ul>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <li><span class="icon icon-snorkeling"></span>Mergulho com cilindro</li>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <li><span class="icon icon-catamaran"></span>Passeio de Catamarã</li>
            </div>
          </div>
        </ul>
      </div>

      <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h4 class="sr-only">Observações</h4>
        <ul>
          <li>Atividades não inclusas no ingresso da conferência.</li>
          <li>Passes serão vendidos separadamente.</li>
          <li>As atividades específicas estão sujeitas a mudanças.</li>
          <li>Vagas limitadas.</li>
        </ul>
      </div>
    </div>

    <footer>
      <div class="attribution">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <p>Créditos dos ícones (na respectiva ordem): Conversação, Microfone, Bola de Praia, Barco, Barco a Vela e Máscara de Mergulho por Gregory Radek, Edward Boatman, Celine Labaume, James Keuning, Laurent Patain e Nithin Viswanathan do <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</section>
