---
title: We want you for AP.Rb! &#9671; Abril Pro Ruby 2014 &#9671; April 24th to 27th @ Porto de Galinhas
---

<div class="content">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="come-on">
        <h1>Win a free ticket!</h1>
        <%= image_tag 'contest@2x.png', class: 'icon' %>
        <p>Compete for a ticket for the lectures of Abril Ruby Pro at April 26! Follow <a href="https://twitter.com/abrilproruby" target="_blank">@AbrilProRuby</a>'s Twitter, write a tweet with the tag <strong>#aprb</strong> and mention the event <strong>Abril Pro Ruby</strong> somehow.</p>
        <p>Each tweet is a coupon. The more you send, the more chance you have to win. Next Friday <strong>April 11</strong>, we will draw <strong>2</strong> tickets. Take this opportunity to watch the best Rubyists for free!</p>
        <h3>Rules</h3>
        <ol>
          <li>The draw date will be on Friday, April <strong>11</strong>, 2014, at noon (12:00 pm GMT-3)​​. It'll be 2 tickets to two different profiles.</li>
          <li>You must follow <a href="https://twitter.com/abrilproruby" target="_blank">@AbrilProRuby</a>'s profile on Twitter.</li>
          <li>Each tweet must include the hashtag <strong>#aprb</strong> and mention the event <strong>Abril Pro Ruby</strong> somehow</li>
          <li>The randomly selected tweets will be readed and analyzed by the organizing committee.</li>
          <li>The use of bots that automatically generate tweets and content is prohibited.</li>
          <li>If the profile and tweet is not within the rules, it will be discarded and a new draw made.</li>
          <li>The winners will be announced by <a href="https://twitter.com/abrilproruby" target="_blank">@AbrilProRuby</a>'s profile on the same day.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
