---
title: Nós queremos você no AP.Rb! &#9671; Abril Pro Ruby 2014 &#9671; April 26th @ Porto de Galinhas
---

<div class="content">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="come-on">
        <h1>Ganhe um ingresso grátis!</h1>
        <%= image_tag 'contest@2x.png', class: 'icon' %>
        <p>Concorra a um ingresso para assistir as palestras do Abril Pro Ruby (26 de abril)! Siga o <a href="https://twitter.com/abrilproruby" target="_blank">@AbrilProRuby</a> no Twitter, escreva um tweet com a tag <strong>#aprb</strong> e mencione o evento <strong>Abril Pro Ruby</strong> de alguma forma.</p>
        <p>Cada tweet é um cupom. Quanto mais você enviar, mais chance terá de ganhar. Na próxima sexta, <strong>9 de abril</strong>, iremos sortear <strong>2</strong> ingressos.</p>
        <p>Se você ainda não comprou, aproveite a oportunidade de assistir aos melhores Rubistas de graça!</p>
        <h3>Regulamento</h3>
        <ol>
          <li>A data do sorteio será na sexta-feira, 9 de abril de 2014, ao meio dia (12h00 GMT-3). Serão 2 ingressos para dois perfis diferentes.</li>
          <li>Você deve seguir o perfil <a href="https://twitter.com/abrilproruby" target="_blank">@AbrilProRuby</a> no Twitter.</li>
          <li>Cada tweet deve conter a hashtag <strong>#aprb</strong> e <em>mencionar</em> o evento <strong>Abril Pro Ruby</strong> de alguma forma.</li>
          <li>Os tweets sorteados serão lidos e analisados pela comissão organizadora.</li>
          <li>É proibido o uso de bots que geram tweets e conteúdo automaticamente.</li>
          <li>Caso o perfil e tweet não esteja dentro das regras, o mesmo será descartado e um novo sorteio realizado.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
