---
title: Obrigado, Jim &#9671; Abril Pro Ruby 2014 &#9671; April 26th @ Porto de Galinhas
---

<div class="content">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="jim-weirich">
        <h1>Obrigado, Jim.</h1>
        <%= image_tag 'conference/speaker-jim.png', class: 'photo' %>
        <p>Nós tivemos a honra de ter nosso convite aceito pelo <a href="https://twitter.com/qrush/statuses/436454349687230464" target="_blank">Jim Weirich</a> para palestrar no Abril Pro Ruby. Infelizmente ele não está mais entre nós. Nossa comunidade perdeu um amado programador, professor e tocador de ukelele.</p>
        <p>Descanse em paz, Jim.</p>
      </div>
    </div>
  </div>
</div>
