---
title: Thanks, Jim &#9671; Abril Pro Ruby 2014 &#9671; April 24th to 27th @ Porto de Galinhas
---

<div class="content">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="jim-weirich">
        <h1>Thanks, Jim.</h1>
        <%= image_tag 'conference/speaker-jim.png', class: 'photo' %>
        <p>We had the honor of having our invitation accepted by <a href="https://twitter.com/qrush/statuses/436454349687230464" target="_blank">Jim Weirich</a> to speak at Abril Pro Ruby. Unfortunately, he's not with us anymore. Our community lost a beloved programmer, teacher and ukulele player.</p>
        <p>Rest in peace, Jim.</p>
      </div>
    </div>
  </div>
</div>
