---
title: Localização &#9671; Abril Pro Ruby 2014 &#9671; 26 de Abril @ Porto de Galinhas
---

<header id="content" class="of-section">
  <h1>
    <span class="icon"></span>
    Local
  </h1>
  <nav class="secondary">
    <ul>
      <li>
        <a href="#porto-de-galinhas">Porto de Galinhas</a>
      </li>
      <li>
        <a href="#venue">O Hotel</a>
      </li>
      <li>
        <a href="#pernambuco">Pernambuco</a>
      </li>
    </ul>
  </nav>
</header>

<section class="porto-de-galinhas">
  <div class="container">
    <div class="about-porto col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

      <h3 id="porto-de-galinhas">Porto de Galinhas</h3>
      <span class="icon icon-left icon-porto"></span><p>Em 2014, o Abril Pro Ruby segue para a praia de Porto de Galinhas, um paraíso tropical localizado a 60 km ao sul de Recife, Pernambuco. O local é conhecido por suas belas paisagens e natureza única.</p>

      <h4>Sobre o Local</h4>
      <p>Até poucos anos atrás, Porto era uma pequena e desconhecida vila de pescadores, mas atualmente é um dos destinos turísticos mais importantes no Brasil, sendo eleita por dez vezes seguidas <a href="http://viajeaqui.abril.com.br/materias/vencedores-premio-viagem-e-turismo-2011" target="_blank">a melhor praia do país</a>. Apesar disto, a vila continua pequena, mantendo sua peculiar arquitetura rústica.</p>
      <p>A praia tem 18 km de comprimento cobertos com areia fina e clara. Há um recife milenar de corais por toda a costa. Durante a maré baixa, a água acumula nos corais, formando piscinas naturais, onde as pessoas podem nadar, mergulhar e alimentar os peixes em uma água sempre morna.</p>

      <h4>Como chegar</h4>
      <p>Se você planeja vir de avião, o aeroporto mais próximo é o <a href="http://pt.wikipedia.org/wiki/Aeroporto_Internacional_do_Recife" target="_blank">Aeroporto Internacional dos Guararapes (REC)</a>, em Recife. Ele recebe voos de quase todos estados do Brasil e também dos Estados Unidos e Europa. De lá você pode pegar um ônibus, um transfer, um taxi ou alugar um carro para chegar a Porto de Galinhas (a viagem entre Recife e Porto normalmente leva 2 horas).</p>
      <p>Se você está em um estado vizinho, há também a opção de vir de ônibus ou de carro. Além disso, o Abril Pro Ruby disponibilizará transporte gratuito para os participantes saindo de Recife para Porto de Galinhas no dia da conferência.</p>
      <a href="#content" class="hidden-print">(voltar para o topo)</a>

      <h3 id="venue">O Hotel</h3>
      <span class="icon icon-right icon-map"></span><p>A conferência acontecerá no <a href="http://www.hotelarmacao.com.br/" target="_blank">Hotel Armação</a>, um excelente resort à beira-mar. O hotel oferece descontos especiais para os participantes do AP.Rb (lembre-se de avisar que você está indo para a conferência quando fizer sua reserva).</p>
      <div class="center-block">
        <a href="http://www.hotelarmacao.com.br/2012/en/" target="_blank" alt="Fotografia do Hotel Armação vista de cima" title="Photo of Hotel Armação."><%= image_tag 'location/photo-by-hotel-armacao@2x.jpg', width: '100%', height: '100%' %></a>
      </div>

      <h4>Reservas</h4>
      <p>
        <a href="mailto:eventos@hotelarmacao.com.br">eventos@hotelarmacao.com.br</a><br/>
        <span class="tel">
          <a class="value" href="tel:+558121262166" itemprop="telephone">+55 81 2126-2166</a> &middot; <a class="value" href="tel:+558121262175" itemprop="telephone">+55 81 2126-2175</a>
        </span>
      </p>

      <h4>Endereço</h4>
      <address>
        Loteamento Merepe II, Quadra G1 – Lote 7 e 9 <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Loteamento+Merepe+II,+Quadra+G1,+Lote+7%2F9&aq=&sll=-8.485931,-35.001266&sspn=0.027335,0.027595&vpsrc=0&ie=UTF8&hq=Loteamento+Merepe+II,+Quadra+G1,+Lote+7%2F9&hnear=&ll=-8.482941,-34.999695&spn=0.027335,0.027595&t=m&z=15&iwloc=A&cid=13721475107170616108" target="_blank">(map)</a><br/>
        Porto de Galinhas – Ipojuca – PE – Brasil<br/>
        Postal Code: 55590-000<br/>
        <a href="http://www.hotelarmacao.com.br/2012/en/" target="_blank">www.hotelarmacao.com.br</a>
      </address>

      <h4>Outras Opções de Acomodação</h4>
      <p>Se você preferir, pode se hospedar em lugares próximos. Existem várias opções em Porto de Galinhas, de resorts luxuosos a pousadas simples. Além disso, há também a opção de se hospedar em Recife e ir a Porto de Galinhas apenas para o AP.Rb. Se você precisar de ajuda ou tiver dúvidas sobre transporte ou acomodação, envie um email para <a href="mailto:abrilproruby@frevoonrails.com.br">abrilproruby@frevoonrails.com.br</a>.</p>

      <a href="#content" class="hidden-print">(voltar para o topo)</a>

      <h3 id="pernambuco">Pernambuco, Recife &amp; Olinda</h3>
      <span class="icon icon-left icon-city"></span><p>Além de Porto de Galinhas, existem várias coisas para se fazer em Pernambuco. Recife, tem diversas atrações turísticas e uma cultura rica, que pode ser vivenciada através da nossa <a href="http://pt.wikipedia.org/wiki/Forr%C3%B3" target="_blank">música</a>, <a href="http://pt.wikipedia.org/wiki/Frevo" target="_blank">dança</a>, <a href="http://www.buzzfeed.com/gabrielakruschewsky/traditional-brazilian-foods-you-need-to-eat-right-now" target="_blank">culinária</a> e <a href="http://www.artesanatodepernambuco.pe.gov.br/" target="_blank">artesanato</a>. Ao lado de Recife, fica Olinda, uma cidade fundada em 1535, que conta com um sítio histórico—hoje considerado patrimônio da humanidade—cheio de belas igrejas e museus.</p>
      <div class="video-wrapper"><iframe width="475" height="267" src="///www.youtube.com/embed/acNtcuRsFcI" frameborder="0" allowfullscreen></iframe></div>

      <h4>O Ecossistema Tecnológico</h4>
      <span class="icon icon-right icon-crab"></span><p>Recife é uma cidade-chave do nordeste e uma das cinco maiores áreas metropolitanas do Brasil. Aqui, temos um vibrante ecossistema de tecnologia, desde o conhecido <a href="http://www.portodigital.org" target="_blank">Porto Digital</a>, polo tecnológico que conta com empresas importantes, como a Accenture, IBM, HP, Microsoft, Nokia, Samsung e ThoughtWorks, ao recente <a href="http://manguezal.github.io/" target="_blank">Manguezal</a>, o centro do nosso cenário de startups. Também contamos com o <a href="http://www2.cin.ufpe.br/site/index.php" target="_blank">Centro de Informática</a> e seu conceituado curso de Ciência da Computação, que alimenta o mercado com excelentes profissionais e pesquisadores.</p>
      <a href="#content" class="hidden-print">(voltar para o topo)</a>

    </div>
  </div>
</section>

<footer>
  <div class="container attribution">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <p>Foto: Corais de Porto por <a href="http://www.flickr.com/photos/vbonomi/" target="_blank">Victor Bonomi</a> do <a href="http://www.flickr.com" target="_blank">Flickr</a>.<br />
    Créditos dos ícones (na respectiva ordem): Coqueiro, Galinha de Cabaça, Carangueijo and Localização por Rachel Healey, Sérgio Fontes, Jason Grube e Ricardo Pereira do <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
    </div>
  </div>
</footer>
