---
title: Code of Conduct &middot; Abril Pro Ruby 2014 &middot; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <h1>
    <span class="icon"></span>Code of Conduct
  </h1>
</header>

<section>
  <div class="container">
    <div class="code-content col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <p>Abril Pro Ruby is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, religion or political view. We do not tolerate harassment of conference participants in any form. Sexual language and imagery targeted on any specific group or person is not appropriate for conference venues, including talks. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organizers.</p>
      <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, religion or political view, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.</p>
      <p>Exhibitors in the expo hall, sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Both staff (including volunteers) should not use sexualized clothing or otherwise create a sexualized environment. Although the conference is located at a beach, the attendees, staff and exhibitors cannot wear bath suits during the talks.</p>
      <p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified by T-shirts and special badges sets.</p>
      <p>Conference staff will be happy to help participants contact hotel security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>
      <h3>Useful contacts</h3>
      <ul>
        <li>Conference staff: <a href="mailto:abrilproruby@frevoonrails.com.br">abrilproruby@frevooonrails.com.br</a></li>
        <li>Hotel Armação: <strong>+55 81 2126 2160</strong></li>
        <li>Local Law Enforcement: <strong>190</strong></li>
        <li>Local sexual assault hot line: <strong>180</strong></li>
        <li>Local emergency and non-emergency medical: <strong>192</strong></li>
      </ul>
      <p>We expect participants to follow these rules at all conference venues and conference-related social events.</p>
    </div>
  </div>
</section>

<footer>
  <div class="container attribution">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <p>Check Mark icon by Anas Ramadan from <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
    </div>
  </div>
</footer>
