<header>
  <h1>
    <span class="icon"></span>
    Conference
  </h1>
  <nav class="secondary">
    <ul>
      <li>
        <a href="#speakers">Speakers</a>
      </li>
      <li>
        <a href="#activities">Activities</a>
      </li>
    </ul>
  </nav>
</header>