---
title: Conference &middot; Abril Pro Ruby 2014 &middot; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <div class="container">
    <h1>
      <span class="icon"></span>Conference
    </h1>
    <nav class="secondary">
      <ul>
        <li>
          <a href="#speakers">Speakers</a>
        </li>
        <li>
          <a href="#activities">Activities</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="speakers">
  <div class="container">
    <h2>Speakers</h2>

    <ul class="row">
      <li class="col-md-4">
        <%= image_tag 'conference/speaker-jim@2x.png', class: 'photo' %>
        <div class="desc">
          <span class="name">Jim Weirich</span><br/>
          <small class="title">Chef Scientis at Neo and Creator of Rake</small>
        </div>
      </li>
      <li class="col-md-4">
        <%= image_tag 'conference/speaker-nell@2x.png', class: 'photo' %>
        <div class="desc">
          <span class="name">Nell Shamrell</span><br/>
          <small class="title">Software Developer and Engineering Project Manager at Blue Box</small>
        </div>
      </li>
      <li class="col-md-4">
        <%= image_tag 'conference/speaker-rafael@2x.png', class: 'photo' %>
        <div class="desc">
          <span class="name">Rafael França</span><br/>
          <small class="title">Developer at Plataformatec and Member of Rails Core Team</small>
        </div>
      </li>
    </ul>
  </div>
</section>
