---
title: Conference &middot; Abril Pro Ruby 2014 &middot; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <div class="container">
    <h1>
      <span class="icon"></span>Conference
    </h1>
    <nav class="secondary">
      <ul>
        <li>
          <a href="#speakers">Speakers</a>
        </li>
        <li>
          <a href="#activities">Activities</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="speakers">
</section>
