---
title: Conference &middot; Abril Pro Ruby 2014 &middot; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <div class="container">
    <h1>
      <span class="icon"></span>Conference
    </h1>
    <nav class="secondary">
      <ul>
        <li>
          <a href="#speakers">Speakers</a>
        </li>
        <li>
          <a href="#activities">Activities</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="speakers">
  <div class="container">
    <h2>Speakers</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-4 ">
        <div class="speaker jim">
          <%= image_tag 'conference/speaker-jim@2x.png', class: 'photo' %>
          <div class="desc">
            <span class="name">Jim Weirich</span><br/>
            <small class="title">Chef Scientis at Neo and Creator of Rake</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="speaker nell">
          <%= image_tag 'conference/speaker-nell@2x.png', class: 'photo' %>
          <div class="desc">
            <span class="name">Nell Shamrell</span><br/>
            <small class="title">Software Developer and Engineering Project Manager at Blue Box</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="speaker rafael">
          <%= image_tag 'conference/speaker-rafael@2x.png', class: 'photo' %>
          <div class="desc">
            <span class="name">Rafael França</span><br/>
            <small class="title">Developer at Plataformatec and Member of Rails Core Team</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
