---
title: Location &middot; Abril Pro Ruby 2014 &middot; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <h1>
    <span class="icon"></span>
    Location
  </h1>
  <nav class="secondary">
    <ul>
      <li>
        <a href="#porto-de-galinhas">Porto de Galinhas</a>
      </li>
      <li>
        <a href="#venue">The Venue</a>
      </li>
      <li>
        <a href="#venue">Pernambuco</a>
      </li>
    </ul>
  </nav>
</header>

<section class="porto-de-galinhas">
  <div class="container">
    <div class="about-porto col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    </div>
  </div>
</section>

<footer>
</footer>
