---
title: Location &middot; Abril Pro Ruby 2014 &middot; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <h1>
    <span class="icon"></span>
    Location
  </h1>
  <nav class="secondary">
    <ul>
      <li>
        <a href="#porto-de-galinhas">Porto de Galinhas</a>
      </li>
      <li>
        <a href="#venue">The Venue</a>
      </li>
      <li>
        <a href="#venue">Pernambuco</a>
      </li>
    </ul>
  </nav>
</header>

<section class="porto-de-galinhas">
  <div class="container">
    <div class="about-porto col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <h3>Porto de Galinhas</h3>
      <p>In 2014, Abril Pro Ruby is heading to Porto de Galinhas, an outstanding beach located 37 mi south of the city of Recife, Pernambuco. The location is known for its impressive landscapes and beautiful nature.</p>
      <p>Until a few years ago, Porto was an anonymous small village of fishermen, but nowadays it is one of the most important tourist destinations in Brazil, being elected ten times in a row the best beach of the country. In spite of that, the village is still small and it managed to keep its distinctive rustic fishermen architecture.</p>
      <p>The beach line is 11 mi long, all with white, fine grained, clean sand. There is a chain of millenary reefs lining all along the coast. During the lower tide, the water trapped by the reefs form several natural pools where people can swim, dive and feed the fishes in an average water temperature of 78°F for the year.</p>
      <h3>How to get there</h3>
      <p>If you're coming by air, you should land in the Recife/Guararapes International Airport (REC). It services trips from almost every Brazilian state and also operates flights from USA and Europe. From there, you can take a bus, use a shuttle service, get a taxi or rent a car to go to Porto de Galinhas (the trip between Recife and Porto usually takes 2 hours).</p>
      <p>If you're in a nearby state, you can also come by bus or even drive directly to the beach. Additionally, Abril Pro Ruby will provide free transportation for attendees from Recife to Porto de Galinhas in the day of the conference.</p>
      <h3>The venue</h3>
      <p>The conference will take place in Hotel Armação, a beautiful, resort that sits right by the edge of the sea. The hotel is offering special package deals for AP.Rb attendants (remember to mention you're coming for the conference when booking your reservation).</p>
      <h4>Hotel Armação</h4>
      <p>(<a href="http://www.hotelarmacao.com.br/2012/en/" target="_blank">www.hotelarmacao.com.br</a>)</p>
      <iframe width="475" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Loteamento+Merepe+II,+Quadra+G1,+Lote+7%2F9&amp;aq=&amp;sll=-8.485931,-35.001266&amp;sspn=0.027335,0.027595&amp;ie=UTF8&amp;hq=Loteamento+Merepe+II,+Quadra+G1,+Lote+7%2F9&amp;hnear=&amp;t=m&amp;cid=13721475107170616108&amp;ll=-8.482899,-34.999695&amp;spn=0.029712,0.04077&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Loteamento+Merepe+II,+Quadra+G1,+Lote+7%2F9&amp;aq=&amp;sll=-8.485931,-35.001266&amp;sspn=0.027335,0.027595&amp;ie=UTF8&amp;hq=Loteamento+Merepe+II,+Quadra+G1,+Lote+7%2F9&amp;hnear=&amp;t=m&amp;cid=13721475107170616108&amp;ll=-8.482899,-34.999695&amp;spn=0.029712,0.04077&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      <h4>Reservations</h4>
      <p>
        <span class="tel">
          <a class="value" href="tel:+558121262166" itemprop="telephone">+55 81 2126-2166</a> &middot; <a class="value" href="tel:+55 81 2126-2175" itemprop="telephone">+55 81 2126-2175</a>
        </span><br />
        <a href="mailto:eventos@hotelarmacao.com.br">eventos@hotelarmacao.com.br</a>
      </p>
      <p>Alternatively, you can stay at nearby places. There are a lot of options in Porto de Galinhas, from luxurious resorts to simple bed & breakfast hotels. Also, you can stay in the city of Recife and go to Porto de Galinhas only for AP.Rb. If you need help or have any questions about transportation or accomodations, please send an e-mail to <a href="mailto:abrilproruby@frevoonrails.com.br">abrilproruby@frevoonrails.com.br</a>.</p>
      <h4>General Instructions</h4>
      <p>International visitors, remember to check if you'll need a Visa to enter into Brazil.</p>
      <h3>Pernambuco</h3>
      <p>Additionally, there are a lot of things to do in the state of Pernambuco. The capital, Recife, has a lot of tourist attractions and a rich culture, that you can experience in the form of its very own type of <a href="http://en.wikipedia.org/wiki/Forr%C3%B3">music</a>, <a href="http://en.wikipedia.org/wiki/Frevo">dance</a>, <a href="http://www.buzzfeed.com/gabrielakruschewsky/traditional-brazilian-foods-you-need-to-eat-right-now">food</a> and <a href="http://www.artesanatodepernambuco.pe.gov.br/">art</a>. Next to Recife, there is Olinda, a city founded in 1535, that currently has a gorgeous historic downtown—considered a world heritage site—full of beautiful churches and museums.</p>
      <iframe width="475" height="267" src="//www.youtube.com/embed/i26DMY1f5do?rel=0" frameborder="0" allowfullscreen></iframe>
      <h3>The Tech Ecosystem</h3>
      <p>Recife is the most important city of the northeast and one of the five major metropolitan areas in Brazil. Here, we have a vibrant technology ecosystem, from the enterprisey <a href="http://www.portodigital.org">Porto Digital</a>, a tech hub that has offices of companies such as Accenture, IBM, HP, Microsoft, Nokia, Samsung and ThoughtWorks, to the trendy <a href="http://manguez.al">Manguezal</a>, the center of our startup scene. Also, there is the <a href="http://www2.cin.ufpe.br/site/index.php">Center of Informatics</a> and its great Computer Science program, that brings forth excellent professionals and researchers.</p>
    </div>
  </div>
</section>

<footer>
</footer>
