---
title: Location | Abril Pro Ruby 2014 | April, 26 @ Porto de Galinhas
---

<header id="content" class="of-section">
  <h1>
    <span class="icon"></span>
    Location
  </h1>
  <nav class="secondary">
    <ul>
      <li>
        <a href="#porto-de-galinhas">Porto de Galinhas</a>
      </li>
      <li>
        <a href="#venue">The Venue</a>
      </li>
      <li>
        <a href="#venue">Pernambuco</a>
      </li>
    </ul>
  </nav>
</header>

<section class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 content"></div>
    <div class="col-lg-3"></div>
  </div>
</section>

<footer>
</footer>